{% extends "layout.html" %} 
{% load semanticui %} 
{% load leaflet_tags %}
{% load l10n %}

{% block head %}
{% leaflet_css %}
{% leaflet_js %}
{% endblock %}

{% block main %}
<a hx-get="{% url 'dashboard' %}" hx-target="body" hx-swap="innerHTML"><input type="button" class="ui primary button d-inline" value="< Dashboard" /></a>
<h1 class="ui header center aligned">Projecten</h1>
<br><br>
<div class="card">
    <h3>Projecten</h3>
   {% leaflet_map "card" callback="map_init" %}
</div>

{% endblock %}

{% block scripts %}
<style>
img.huechange { filter: hue-rotate(120deg); }
</style>
<script type="text/javascript">
function map_init(map, options) {
    map.setView([52.37, 4.895], 7);

	{% for project in projects %}
	marker = new L.marker([{{ project.plaats.y|unlocalize }}, {{ project.plaats.x|unlocalize }}]).bindPopup(`
    <h3><b><a href='{% url 'projectview' project.id %}'>{{ project.name }}</a></b></h3>
    <p>Klant: <i>{{ project.client }}</i></p>
    <p>Aangemaakt op: <i>{{ project.datum_aangemaakt }}</i></p>
    {% if project.projectmanager %}<p>Projectmanager: <i>{{ project.projectmanager }}</i></p>{% else %}<p>Projectmanager: <i>Geen</i></p>{% endif %}
    <p>Contractstatus: <i>{{ project.statuscontract }}</i></p>
    
    `).addTo(map);
    // marker._icon.classList.add("huechange");

	{% endfor %}
}
</script>

{% block modal %}{% endblock %} 
{% endblock %}