{% extends "layout.html" %} 
{% load semanticui %} 
{% load leaflet_tags %}
{% block head %}
{% leaflet_css %}
{% leaflet_js %}
{% endblock %}

{% block main %}
<h1 class="ui header center aligned">Projecten</h1>
<a href="{% url 'dashboard' %}"><input type="button" class="ui primary button d-inline" value="< Dashboard" /></a>
<br><br>
{% if projects %}
<div>
	<table class="ui fixed multiple line blue table">
		<thead>
			<tr>
				<th>
					Project
				</th>				
				<th>
					Belegger
				</th>
				<th>
					Fase
				</th>
			</tr>
		</thead>
		<tbody>
				{% for project in projects %}
				<tr>
                    <td> 
					<a href="{% url 'projectview' project.id %}">{{ project.naam }}</a> &nbsp; 
                    </td>
                    <td> 
                        {{ project.belegger }}
                    </td>
                    <td> 
                        {{ project.statuscontract }}
                    </td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
{% else %}
<p>Nog geen projecten</p>
{% endif %}

<div class="card">
    <h3>Locaties</h3>
   {% leaflet_map "card" callback="map_init" %}
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
function map_init(map, options) {
    map.setView([52.37, 4.895], 7);

	{% for project in projects %}
	marker = new L.marker(["{{ project.plaats.y }}", "{{ project.plaats.x }}"]).bindPopup("<h3><b><a href='{% url 'projectview' project.id %}'>{{ project.naam }}</a></h3></b>").addTo(map);
	{% endfor %}
}
</script>

{% block modal %}{% endblock %} 
{% endblock %}