{% extends "layout.html" %}

{% load semanticui %}
{% load leaflet_tags %}
{% block head %}
{% leaflet_css %}
{% leaflet_js %}

{% endblock %}
{% block main %}
<h1 class="ui header">Project: {{ project.name }}</h1>
<div>
{% if project.pveconnected %}
    {% if project.bouwsoort1 %}
    <p><b>Bouwsoort: </b><i>{{ project.bouwsoort1 }}</i></p>
    {% endif %}
    {% if project.bouwsoort2 %}
    <p><b>Bouwsoort (Sub): </b><i>{{ project.bouwsoort2 }}</i></p>
    {% endif %}
    {% if project.bouwsoort3 %}
    <p><b>Bouwsoort (Sub): </b><i>{{ project.bouwsoort2 }}</i></p>
    {% endif %}
    {% if project.typeObject1 %}
    <p><b>Type Object: </b><i>{{ project.typeObject1 }}</i></p>
    {% endif %}
    {% if project.typeObject2 %}
    <p><b>Type Object (Sub): </b><i>{{ project.typeObject2 }}</i></p>
    {% endif %}
    {% if project.typeObject3 %}
    <p><b>Type Object (Sub): </b><i>{{ project.typeObject2 }}</i></p>
    {% endif %}
    {% if project.doelgroep1 %}
    <p><b>Doelgroep: </b><i>{{ project.doelgroep1 }}</i></p>
    {% endif %}
    {% if project.doelgroep2 %}
    <p><b>Doelgroep (Sub): </b><i>{{ project.doelgroep2 }}</i></p>
    {% endif %}    
    {% if project.doelgroep3 %}
    <p><b>Doelgroep (Sub): </b><i>{{ project.doelgroep3 }}</i></p>
    {% endif %}
{% endif %}
<p><b>Aantal verhuureenheden: </b><i>{{ project.vhe }}</i></p>
<p><b>Contractstatus: </b><i>{{ project.statuscontract }}</i></p>
<p><b>Aangemaakt op: </b><i>{{ project.date }}</i></p>
</div>

<div class="ui divider"></div>
<div>
<h3 class="ui header">Basis handelingen</h1>
{% if project.pveconnected %}
<p><span><a href="{% url 'download_pve_syn' project.id project.client.id %}"><button class="ui basic button"><i class="icon download"></i>Download huidige staat PvE</button></a></span></p>
{% else %}
<p>
Nog geen PvE gekoppeld.
</p>
{% endif %}
</div>

<div class="ui divider"></div>

<div class="card">
    <h3>Locatie</h3>
   {% leaflet_map "card" callback="map_init" %}
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
function map_init(map, options) {
    // get point lat and lon
    var lon = "{{ project.plaats.x }}";
    var lat = "{{ project.plaats.y }}";
    // zoom to point & add it to map
    map.setView([lat, lon], 12);
    var point = L.marker([lat, lon]).addTo(map);

}</script>
{% endblock %}