{% extends "layout.html" %}

{% load semanticui %}

{% block main %}
<input type="button" class="ui primary button d-inline" onclick="window.location.href='javascript:history.back()';" value="< Overview {{ versie.belegger }}: {{ versie.versie }}" />
    <h1 class="ui header">Programma van Eisen</h1>
    {% if itemsPVE %}
    <p><span><a href="{% url 'download' filename %}" target="_blank"><button class="ui basic button"><i class="icon download"></i>Open als PDF</button></a></span></p>
    {% if zipFilename %}
    <p><span><a href="{% url 'downloadbijlagen' zipFilename %}"><button class="ui basic button"><i class="icon download"></i>Download PvE + Bijlagen (.zip)</button></a></span></p>
    {% endif %}
    {% if excel %}
    <p><span><a href="{% url 'worksheetdownload' excelFilename %}"><button class="ui basic button"><i class="icon download"></i>Download Excel PvE</button></a></span></p>
    {% endif %}

    {% else %}
      <p>Geen regels met deze parameters. Bewerk de parameters of neem contact op met de systeembeheerder.</p>
      {% endif %}
{% endblock %}
