Django
whitenoise
gunicorn
dj_database_url
psycopg2
django-heroku
reportlab==3.5.42
django-semanticui-forms==1.6.5
pypdf2==1.26.0
django-environ==0.4.5
django-referrer-policy==1.0
django-csp==3.6
XlsxWriter==1.2.9
python-magic
pyproj
pandas
django-leaflet
boto3
django-storages
geopy
python-dotenv
django-simple-history
django-debug-toolbar
django-cached-modelforms
django-jsignature