* {
 box-sizing: border-box;
}
body {
  margin: 0;
}
#main {
  display: flex;
  margin-top: 3em;
  min-height: calc(100vh - 6vh);
}

#main > article {
  flex: 1;
}

article {
  padding: 1em;
}

.footer {
   position: fixed;
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
   align: center;
   float: center;
}