{% block main %}
<span hx-target="this" hx-swap="outerHTML">
{% if annotation.kostenConsequenties %}
    <p>Kostenverschil: €{{ annotation.kostenConsequenties }}</p>
    <button hx-get="{% url 'addkostenverschilfirst' client_pk project_pk item_pk %}" class="ui basic button"><i class="icon edit"></i>Bewerk kostenverschil</button>
{% else %}
    <button hx-get="{% url 'addkostenverschilfirst' client_pk project_pk item_pk %}" class="ui basic button"><i class="icon plus"></i>Kostenverschil</button>
{% endif %}
</span>
{% endblock %}{% block scripts %}
{% include 'partials/messages.html' %}
{% endblock %}