{% load static %}
{% block main %}
<span hx-target="this" hx-swap="outerHTML">
{% if annotation.annotation %}
    <span><p><b>Aanvulling:</b> {{ annotation.annotation }} <span><button hx-get="{% url 'addannotationfirst' client_pk project_pk item_pk %}" class="ui basic icon button">
    <i class="icon edit"></i></button></span></p></span>
    <p>
    {% if bijlage %}
    <span><a href="{% url 'downloadbijlageaanopmerking_syn' client_pk project_pk annotation.id %}" target="_blank"><b>Bijlage:  </b><img class="dimg" style="align-self: right; max-height: 1.5vh;" src="{% static 'syntrus/img/download.png' %}"></img></a>
    </span>
    {% endif %}

    {% if not bijlage %}
    <button hx-get="{% url 'addbijlagefirst' client_pk project_pk item_pk annotation.id %}" class="ui basic button"><i class="icon plus"></i>Upload Bijlage</button>
    {% else %}
    <span><button hx-get="{% url 'addbijlagefirst' client_pk project_pk item_pk annotation.id %}" class="ui basic icon button"><i class="icon edit"></i></button></span>

    </p>
    {% endif %}
{% else %}
    <button hx-get="{% url 'addannotationfirst' client_pk project_pk item_pk %}" class="ui basic button"><i class="icon plus"></i>Aanvulling</button>
{% endif %}
</span>
{% endblock %}{% block scripts %}
{% include 'partials/messages.html' %}
{% endblock %}