{% extends "_partial.html" %}


{% block main %}
    <form hx-target="this" hx-swap="outerHTML" class="ui form" method="POST" hx-encoding='multipart/form-data' enctype="multipart/form-data">
    {% csrf_token %}
        <div>
        <p><label for="{{ form.bijlage.id_for_label }}"><b>Upload bijlage:</b></label><p>
        <p class="first_annotate_formbox">{{ form.bijlage }}</p>
        <p class="first_annotate_formbox" hidden>{{ form.reply }}</p>
        </div>
        <button hx-get="{% url 'detailpongreply' client_pk project_pk item_pk type %}" hx-trigger="click" style="float: left;" class="ui basic icon button"><i class="icon undo alternate"></i></button>
        <span style="float:right;"><button hx-post="{% url 'addbijlagepong' client_pk project_pk item_pk annotation_pk type %}" hx-trigger="click" type="submit" class="ui icon green button"><i class="check icon"></i></button>
        </span>
    </form>
{% endblock %}