{% extends "_partial.html" %}


{% block main %}
    <form hx-target="this" hx-swap="outerHTML" class="ui form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <div>
        <p><label for="{{ form.annotation.id_for_label }}"><b>Aanvulling:</b></label><p>
        <p class="first_annotate_formbox">{{ form.annotation }}</p>
        </div>
        <button hx-get="{% url 'detailfirstannotation' client_pk project_pk item_pk %}" style="float: left;" class="ui basic icon button"><i class="icon undo alternate"></i></button>
        <span style="float:right;"><button hx-post="{% url 'addannotationfirst' client_pk project_pk item_pk %}" type="submit" class="ui icon green button"><i class="icon plus"></i></button>
        </span>
    </form>
{% endblock %}