{% extends '_partial.html' %}
{% load semanticui %}
{% load static %}
{% load custom_tags %}
{% load cache %}

{% block main %}
{% for paragraaf in paragraven %}
    <button type="button" hx-get="{% url 'getitemsfirstannotate' client_pk project.id paragraaf.hoofdstuk.id paragraaf.id %}" hx-target="#paragraaf_content-{{ paragraaf.hoofdstuk.id }}-{{ paragraaf.id }}" hx-swap="innerHTML" hx-trigger="click once" class="paragraaf"><p>{{ paragraaf.paragraaf }} <img class="arrow-down" src="{% static 'syntrus/svg/ArrowDown.svg' %}"></img><img class="arrow-up" src="{% static 'syntrus/svg/ArrowUp.svg' %}"></img></p></button>
    <div class="paragraaf_content" id="paragraaf_content-{{ paragraaf.hoofdstuk.id }}-{{ paragraaf.id }}">
    </div>
{% endfor %}
{% endblock %}

{% block scripts %}
<script>
var coll = document.getElementsByClassName("hoofdstuk");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

var coll2 = document.getElementsByClassName("paragraaf");
var i;

for (i = 0; i < coll2.length; i++) {
  coll2[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

$('.leavecomment').click(function(e){
      e.preventDefault();
      $(this).next().show();
});

</script>
{% endblock %}
