{% extends "_partial.html" %}

{% load semanticui %}

{% load filename %}

{% block main %}
    <form hx-target="this" hx-swap="outerHTML" class="ui form" method="POST" enctype="multipart/form-data">
    <p>{% if project.organisaties.all %}
    {% for organisatie in project.organisaties.all %}{{ organisatie }}, {% endfor %}
    {% endif %}</p>
    {% csrf_token %}
        {{ form }}
        <button hx-get="{% url 'getprojectpartijen' client_pk project.id %}" style="float: left;" class="ui basic button">Terug</button>
        <button hx-post="{% url 'projectaddpartijform' client_pk project.id %}" type="submit" class="ui icon green button"><i class="icon plus"></i></button>

    </form>  

{% endblock %}

{% block scripts %}
{% include "partials/messages.html" %}
{% endblock %}