/* chat/static/chat/styles/room_detail.css */

.messages_box {
  margin-top: 4vh;
  font-family: 'Montserrat';
  font-size: 2vh;
  display: grid;
  overflow: hidden;
  border: #f7f7f7;
}

.chat-title {
  font-family: 'Montserrat';
  margin-top: 3.5vh;
  margin-bottom: 5vh;
  font-size: 2.5vh;
  width: 100%;
  font-weight: bold;
  color: white;
}

.chatroom {
  width: 100%;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
}
#messages {
  display: inline-block;
  align-content: left;
  text-align: left;
  padding-top: 5vh;
  min-height: 200px;
  max-height: 200px;
  max-width: 100%;
  min-width: 100%;
  overflow-y: auto;
}

#messages p {
  width: 100%;
  padding: 0;
  float: left;
}

.sidebar {
  right: 2vw;
  height: 100%;
  background-color: white;
}

.info {
  margin: 2vh 2vh;
  font-style: italic;
}

.message-container {
    margin: 2vh 2vh;
    align-content: left;
    box-align: left;
}

.message-container .username {
  display: inline-block;
  margin-right: 2vw;
  font-weight: bold;
}

.me,
.username.me {
  font-weight: bold;
  color: blue;
}

.message-container .username.me {
  display: inline-block;
  margin-right: 2vw;
}

#message-form {
  padding: 1vw;
  background-color: #f7f7f7;
  bottom: 2vh;
  align-items: bottom;
  float: bottom;
  display: block;
  width: 100%;
  min-width:100%;
}

#message-input {
  resize: none;
}

.control {
  width: 70%;
  display: flex;

}
.field {
  display: flex;
  justify-content: space-between;
}
.button {
  display: flex;
  float: right;
  margin-right: 1vw;
  margin-top: 1vh;
}