<!DOCTYPE html>
{% load semanticui %}{% load static %}
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'syntrus/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'syntrus/main_syntrus.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.min.css' %}">
    <title>PvE Tool</title>
  </head>
  <body>
    <div class="centered_div">
    <div class="centered_box">
      <img src="{% static 'syntrus/svg/logo.svg' %}">
      <p>Oeps! Pagina niet gevonden.</p>
    </div>
  </div>
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'semantic.min.js' %}"></script>
    <script src="{% static 'syntrus/main_syntrus.js' %}"></script>
  </body>
</html>