{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block menu %}
{% if request.user.type_user == 'SOG' %}
{% include 'Menu.html' with type='manager' %}
{% elif request.user.type_user == 'SB' %}
{% include 'Menu.html' with type='beheerder' %}
{% elif request.user.type_user == 'SD' %}
{% include 'Menu.html' with type='derde' %}
{% else %}
{% include 'Menu.html' with type='beheerder' %}
{% endif %}
{% endblock %}

{% block main %}
<div class="general_title"><img src="{% static 'syntrus/img/accountsderden.png'%}" class="title_img"></img><p>Mijn Opmerkingen, project {{ project.naam }}</p></div>
<table class="opmerkingtable_wrapper">
  <tr class="table_head">
    <th><img src="{% static 'syntrus/svg/logo.svg' %}" class="syntr_logo"></a></th>
    <th><p>Opmerking</p></th>
    <th><p>Status</p></th>
    <th><p>Kostenverschil</p></th>
    <th><p>Bewerk</p></th>
    <th><p>Bijlage</p></th>
  </tr>
  {% for comment in comments %}
  <tr class="table_content">
    <td class="inhoud_box"><p>{{ comment.item.inhoud }}</p></td>
    <td class="voldoening"><p>{% if comment.annotation %}{{ comment.annotation }}{% else %}<i>Geen</i>{% endif %}</p></td>
    <td class="voldoening"><p>{% if comment.status %}{{ comment.status }}{% else %}&nbsp;{% endif %}</p></td>
    <td class="kosten"><p>{% if comment.kostenConsequenties %}€ {{ comment.kostenConsequenties }}{% else %} € 0 {% endif %}</p></td>
    <td class="voldoening"><p onClick="document.getElementById('{{ comment.item.id }}').style.display='block'" class="bewerk_button"><button class="ui basic button"><i class="icon edit"></i>Bewerk</button></p></td>
    <td class="voldoening"><p>{% if not comment.bijlage %}<a href="{% url 'bijlageaanopmerking_syn' project.id comment.id %}"><button class="ui basic button"><i class="icon plus"></i>Bijlage</button></a>{% else %}<a href="{% url 'downloadbijlageaanopmerking_syn' project.id comment.id %}" target="_blank"><button class="ui basic button"><i class="icon download"></i>Download</button></a>{% endif %}</p></td>

  </tr>
  {% endfor %}
  <tr>
    <td class="inhoud_box">&nbsp;</td>
    <td class="voldoening">&nbsp;</td>
    <td class="voldoening">&nbsp;</td>
    <td class="kosten"><p>Totaal: {% if totale_kosten %}€{{totale_kosten}}{% else %}€0{% endif %}</p></td>
  </tr>
</table>

<form class="opmerking_form" action="{% url 'bijlageaanopmerking_syn' project.id annotation.id %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}

<div class="opmerking_form_modal">
            <div id="" class="w3-modal" style="display:block;">
                <div class="w3-modal-content">
                    <div class="w3-container">
                        <a href="{% url 'mijnopmerkingen_syn' project.id %}" class="sluit_x_button"><p>Sluit</p></a>
                        <label for="{{ form.ann.id_for_label }}">Bijlage Toevoegen</label>
                        <p class="formbox">{{ form.ann }}</p>                    
                        <label for="{{ form.bijlage.id_for_label }}">Bijlage:</label>
                        <p class="formbox">{{ form.bijlage }}</p>

                        <span class="form_buttons">
                          <button type="submit" class="done_button" value="Gereed">Upload</a>
                        </span>
                    </div>
                </div>
            </div>
</div>
</form>
{% endblock %}