{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block menu %}
{% if request.user.type_user == 'SOG' %}
{% include 'Menu.html' with type='manager' %}
{% elif request.user.type_user == 'SB' %}
{% include 'Menu.html' with type='beheerder' %}
{% elif request.user.type_user == 'SD' %}
{% include 'Menu.html' with type='derde' %}
{% else %}
{% include 'Menu.html' with type='beheerder' %}
{% endif %}
{% endblock %}

{% block main %}
<div class="general_title"><img src="{% static 'syntrus/img/accountsderden.png'%}" class="title_img"></img><p>Alle Opmerkingen, project {{ project.naam }}</p></div>
<table class="opmerkingtable_wrapper">
  <tr class="table_head">
    <th><img src="{% static 'syntrus/svg/logo.svg' %}" class="syntr_logo"></a> Opmerkingen in <span class="rodo">rood</span></th>
    <th><p>Voldoet aan derde</p></th>
    <th><p>Kostenverschil</p></th>
    <th><p>Reageer</p></th>
  </tr>
  {% for comment in comments %}
  <tr class="table_content">
    <td class="inhoud_box"><p>{{ comment.item.inhoud }}{% if comment.annotation %}<span class="inhopmerking"> {{ comment.annotation }} ~{{ comment.gebruiker.username }}</span>{% endif %}</p></td>
    <td class="voldoening"><p>{% if comment.voldoet %}Ja{% else %}&nbsp;{% endif %}</p></td>
    <td class="kosten"><p>{% if comment.kostenConsequenties %}€ {{ comment.kostenConsequenties }}{% else %} € 0 {% endif %}</p></td>
  </tr>
  {% endfor %}
  <tr>
    <td class="inhoud_box">&nbsp;</td>
    <td class="voldoening">&nbsp;</td>
    <td class="kosten"><p>Totaal: {% if totale_kosten %}€{{totale_kosten}}{% else %}€0{% endif %}</p></td>
  </tr>
</table>
{% endblock %}