{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}

{% block main %}
<div class="ui breadcrumb" style="margin-bottom:3vh;">
<a class="section" href="{% url 'dashboard_syn' %}">Dashboard</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Projecten</div>
</div>

<div class="opmerking_project_list">
    <div class="general_title"><img src="{% static 'syntrus/img/plusproject.png'%}" class="title_img"></img><p>Projecten <a href="{% url 'plusproject_syn' %}"><button class="ui icon green button"><i class="icon plus"></i>Start Project</button></a></p> </div>
<input type="text" class="searchable_table_input" id="myInput" onkeyup="searchableLookup()" placeholder="Zoek op project.." title="Typ een project in">


<div class="base_info_table">
  <table id="myTable">
<tbody>
    <tr class="table_title">
      <th><p>Project</p></th>
      <th><p>Laatste Verandering</p></th>
      <th><p>Locatie</p></th>
      <th><p>Aantal VHE</p></th>
      <th><p>Fase</p></th>
      <th><p>Projectmanager</p></th>
      <th><p>Partijen</p></th>
      <th><p>Acties</p></th>
    </tr>
    {% if projecten %}
        {% for project in projecten %}
    <tr class="table_content">
      <td><p><a href="{% url 'viewproject_syn' project.id %}"><button class="ui basic button">{{ project.naam }}<i class="right arrow icon"></i></button></a></p></td>
      <td><p>{{ project.datum_recent_verandering }}</p></td>
      <td><p>{{ project.plaatsnamen }}</p></td>
      <td><p>{{ project.vhe }}</p></td>
      <td><p>{{ project.statuscontract }}</p></td>
        <td><p>{% if project.projectmanager %}{{ project.projectmanager }}{% else %}<a href="{% url 'projectenaddprojmanager_syn' project.id %}"><img src="{% static 'syntrus/img/plus.png' %}"></img> Voeg toe</a>{% endif %}</p></td>
      <td><p>{% if project.organisaties.all %}{% for organisatie in project.organisaties.all %}{{ organisatie }}, {% endfor %}{% else %}<i>Geen, </i>{% endif %}<a href="{% url 'projectenaddorganisatie_syn' project.id %}"><img src="{% static 'syntrus/img/plus.png' %}"></img></a></p></td>
      <td><p><a href="#"><button class="ui icon basic button"><i class="icon edit"></i></button></a></p></td>
    </tr>
    {% endfor %}
        {% else %}
        <tr class="table_content">
          <td><p>
          <i>Nog geen projecten toegevoegd.</i>
          </p></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        {% endif %}
</tbody>
</table>
</div>
{% endblock %}
{% block modal %}
{% endblock %}
{% block scripts %}
<script>
$('th').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).text() }

function searchableLookup() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

</script>
{% endblock %}