{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}
{% load cache %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}
{% cache 500 sidebar %}

{% block main %}
<div class="ui breadcrumb" style="margin-bottom:3vh;">
<a class="section" href="{% url 'dashboard_syn' %}">Dashboard</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'viewprojectoverview_syn' %}">Mijn Projecten</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'viewproject_syn' project.id %}">Project: {{ project.naam }}</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Checklist</div>
</div>

<form class="opmerking_form" action="{% url 'commentscheck_syn' project.id %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}

<div class="general_title"><img src="{% static 'syntrus/img/accountsderden.png'%}" class="title_img"></img><p>Checklist (Huidig kostenverschil: &#8364;{{ totale_kosten }})<input type="submit" class="submit_button" value="Opslaan >"></input></p></div>

<div class="ui top attached tabular menu">
  <a class="item active" data-tab="todo_comments">Status nog aan te wijzen</a>
  <a class="item" data-tab="non_accepted_comments">Gewijzigd in laatste check</a>
  <a class="item" data-tab="accepted_comments">Geaccepteerd in laatste check</a>
</div>


<div class="ui bottom attached tab segment active" data-tab="todo_comments">
{% if todo_comments %}
<div class="titel_plusopmerking"><div class="left">Sectie</div><div class="right">Status       <popup-notify><span slot="message"><p>De status, opgevolgd door de opmerkingen op de regel en op elkaar. Mits er bijlages zijn toegevoegd, zijn deze downloadbaar hierna. "Nieuwe Status" betekent dat de status veranderd is bij de laatste check.</p></span></popup-notify></div></div>
<div class="item_opmerking_list">
{% for hoofdstuk, one_deep in hoofdstuk_ordered_items_todo.items %}
    <button type="button" class="hoofdstuk"><p>{{ hoofdstuk.hoofdstuk }} <img class="arrow-down" src="{% static 'syntrus/svg/ArrowDown.svg' %}"></img><img class="arrow-up" src="{% static 'syntrus/svg/ArrowUp.svg' %}"></img></p></button>
    <div class="hoofdstuk_content">
    {% if one_deep.items %}
        {% for paragraaf, items in one_deep.items %}
            <button type="button" class="paragraaf"><p>{{ paragraaf.paragraaf }} <img class="arrow-down" src="{% static 'syntrus/svg/ArrowDown.svg' %}"></img><img class="arrow-up" src="{% static 'syntrus/svg/ArrowUp.svg' %}"></img></p></button>
            <div class="paragraaf_content">
                {% for item in items %}
                  {% with form=item|index:9 %}
                    {% if item|index:5 %}
                    <div class="item_content" style="background-color: #bcf5bc;" onClick="document.getElementById('{{ item|index:2 }}').style.display='block';">
                    {% else %}
                    <div class="item_content" onClick="document.getElementById('{{ item|index:2 }}').style.display='block';">
                    {% endif %}
                    <div class="text_left">
                        <p style="font-style:italic;">
                          {{ item|index:0 }}
                          {% if item|index:8 %} 
                          Bijlage: <a href="{% url 'downloadbijlage' item|index:1 %}" target="_blank">
                          <img class="dimg" style="align-self: right; max-height: 1.5vh;" src="{% static 'syntrus/img/download.png' %}"></img>
                          </a>
                          {% endif %}
                        </p>
                        {% if item|index:4 %}<p style="color:#FF8000; display:inline;float:right;font-weight:900;">Aanvulling: {{ item|index:4 }}</p>{% endif %}
                        <input class="item-id" name="item_id" type="number" value="{{ form.item_id.value }}" hidden>
                        <label for="{{ form.annotation.id_for_label }}" style="font-weight: bold">Reactie (optioneel):</label>
                        <p class="formbox">{{ form.annotation }}</p>
                      </div>
                      <div class="status_not_added" id="status-{{ item|index:1 }}">
                        <div><label for="{{ form.status.id_for_label }}">Status:</label>
                        {{ form.status }}</div>
                        <div><label for="{{ form.kostenConsequenties.id_for_label }}">Kostenverschil (optioneel):</label>
                        {{ form.kostenConsequenties }}</div>               
                      </div>
                  </div>
                  {% endwith %}
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        {% for item in one_deep %}
                  {% with form=item|index:9 %}
                    {% if item|index:5 %}
                    <div class="item_content" style="background-color: #bcf5bc;" onClick="document.getElementById('{{ item|index:2 }}').style.display='block';">
                    {% else %}
                    <div class="item_content" onClick="document.getElementById('{{ item|index:2 }}').style.display='block';">
                    {% endif %}
                    <div class="text_left">
                        <p style="font-style:italic;">
                          {{ item|index:0 }}
                          {% if item|index:8 %} 
                          Bijlage: <a href="{% url 'downloadbijlage' item|index:1 %}" target="_blank">
                          <img class="dimg" style="align-self: right; max-height: 1.5vh;" src="{% static 'syntrus/img/download.png' %}"></img>
                          </a>
                          {% endif %}
                        </p>
                        {% if item|index:4 %}<p style="color:#FF8000; display:inline;float:right;font-weight:900;">Aanvulling: {{ item|index:4 }}</p>{% endif %}
                        <input class="item-id" name="item_id" type="number" value="{{ form.item_id.value }}" hidden>
                        <label for="{{ form.annotation.id_for_label }}" style="font-weight: bold">Reactie (optioneel):</label>
                        <p class="formbox">{{ form.annotation }}</p>
                      </div>
                      <div class="status_not_added" id="status-{{ item|index:1 }}">
                        <div><label for="{{ form.status.id_for_label }}">Status:</label>
                        {{ form.status }}</div>
                        <div><label for="{{ form.kostenConsequenties.id_for_label }}">Kostenverschil (optioneel):</label>
                        {{ form.kostenConsequenties }}</div>               
                      </div>
                  </div>
                  {% endwith %}
                {% endfor %}
  {% endif %}
    </div>
{% endfor %}
</div>
{% else %}
<i>Alle PvE regels hebben al een status.</i>
{% endif %}
</div>

<div class="ui bottom attached tab segment" data-tab="non_accepted_comments">
{% if non_accepted_comments %}
<div class="titel_plusopmerking"><div class="left">Sectie</div><div class="right">Status       <popup-notify><span slot="message"><p>De status, opgevolgd door de opmerkingen op de regel en op elkaar. Mits er bijlages zijn toegevoegd, zijn deze downloadbaar hierna. "Nieuwe Status" betekent dat de status veranderd is bij de laatste check.</p></span></popup-notify></div></div>
<div class="item_opmerking_list">
{% for hoofdstuk, one_deep in hoofdstuk_ordered_items_non_accept.items %}
    <button type="button" class="hoofdstuk"><p>{{ hoofdstuk.hoofdstuk }} <img class="arrow-down" src="{% static 'syntrus/svg/ArrowDown.svg' %}"></img><img class="arrow-up" src="{% static 'syntrus/svg/ArrowUp.svg' %}"></img></p></button>
    <div class="hoofdstuk_content">
    {% if one_deep.items %}
        {% for paragraaf, items in one_deep.items %}
            <button type="button" class="paragraaf"><p>{{ paragraaf.paragraaf}} <img class="arrow-down" src="{% static 'syntrus/svg/ArrowDown.svg' %}"></img><img class="arrow-up" src="{% static 'syntrus/svg/ArrowUp.svg' %}"></img></p></button>
            <div class="paragraaf_content">
                {% for item in items %}
                  {% with form=item|index:9 %}
                    {% if item|index:5 %}
                    <div class="item_content" style="background-color: #bcf5bc;">
                    {% else %}
                    <div class="item_content">
                    {% endif %}

                      <div class="text_left" onClick="document.getElementById('{{ item|index:2 }}').style.display='block';">
                      <div>
                        <p style="display:inline;float:left;font-style:italic;">
                        {{ item|index:0 }}
                        {% if item|index:8 %} 
                          Bijlage: <a href="{% url 'downloadbijlage' item|index:1 %}" target="_blank">
                          <img class="dimg" style="align-self: right; max-height: 1.5vh;" src="{% static 'syntrus/img/download.png' %}"></img></a>
                        {% endif %}
                        </p>
                      </div>
                      {% if item|index:4 %}
                        <div>
                          <p style="color:#FF8000; display:inline;float:right;font-weight:900;">
                          Aanvulling: {{ item|index:4 }}</p>
                        </div>
                      {% endif %}

                      {% if item|index:3 %}

                      <div>
                        <p style="font-weight:bold;">Status en opmerkingen: {{ item|index:3 }}

                        {% if item|index:6 %}
                        <br>Opmerkingbijlages: 
                        {% for bijlage in item|index:6 %}
                          <a href="{% url 'downloadreplyattachment_syn' project.id bijlage %}" target="_blank"><img class="dimg" style="align-self: right; max-height: 1.5vh;" src="{% static 'syntrus/img/download.png' %}"></img></a>
                        {% endfor %}
                        {% endif %}

                        </p>
                      </div>
                      {% endif %}

                      <div>
                        <input class="item-id" name="item_id" type="number" value="{{ form.item_id.value }}" hidden>
                        <label for="{{ form.annotation.id_for_label }}" style="font-weight: bold"><p>Reactie (optioneel):</p></label>
                        <p class="formbox">{{ form.annotation }}</p>
                      </div>
                      </div>
                      {% if item|index:3 %}
                      <div class="status_added" id="status-{{ item|index:1 }}">              
                        <div><label for="{{ form.status.id_for_label }}"><p>Verander status:</p></label>
                          {{ form.status }}
                        </div>

                        {% if item|index:7 %}
                          <div><p>Kostenverschil: &#8364;{{ item|index:7 }}</p></div>
                          <div><label for="{{ form.kostenConsequenties.id_for_label }}"><p>Verander kosten:</p></label>
                              {{ form.kostenConsequenties }}
                          </div>
                        {% else %}
                          <div><label for="{{ form.kostenConsequenties.id_for_label }}"><p>Kostenverschil (optioneel):</p></label>
                              {{ form.kostenConsequenties }}
                          </div>
                        {% endif %}


                      {% else %}
                      <div class="status_not_added" id="status-{{ item|index:1 }}">
                        <div><label for="{{ form.status.id_for_label }}">Status:</label>
                          {{ form.status }}
                        </div>
                        <div><label for="{{ form.kostenConsequenties.id_for_label }}">Kostenverschil (optioneel):</label>
                          {{ form.kostenConsequenties }}
                        </div>  
                      {% endif %}

                      <div>
                          <label for="{{ form.accept.id_for_label }}"></label>Accepteer </label>
                          {{ form.accept }}
                      </div>
                    
                      </div>
                  </div>
                  {% endwith %}
                {% endfor %}
        </div>
    {% endfor %}
  {% else %}
        {% for item in one_deep %}
                {% for item in items %}
                  {% with form=item|index:9 %}
                    {% if item|index:5 %}
                    <div class="item_content" style="background-color: #bcf5bc;">
                    {% else %}
                    <div class="item_content">
                    {% endif %}

                      <div class="text_left" onClick="document.getElementById('{{ item|index:2 }}').style.display='block';">
                      <div>
                        <p style="display:inline;float:left;font-style:italic;">
                        {{ item|index:0 }}
                        {% if item|index:8 %} 
                          Bijlage: <a href="{% url 'downloadbijlage' item|index:1 %}" target="_blank">
                          <img class="dimg" style="align-self: right; max-height: 1.5vh;" src="{% static 'syntrus/img/download.png' %}"></img></a>
                        {% endif %}
                        </p>
                      </div>
                      {% if item|index:4 %}
                        <div>
                          <p style="color:#FF8000; display:inline;float:right;font-weight:900;">
                          Aanvulling: {{ item|index:4 }}</p>
                        </div>
                      {% endif %}

                      {% if item|index:3 %}

                      <div>
                        <p style="font-weight:bold;">Status en opmerkingen: {{ item|index:3 }}

                        {% if item|index:6 %}
                        <br>Opmerkingbijlages: 
                        {% for bijlage in item|index:6 %}
                          <a href="{% url 'downloadreplyattachment_syn' project.id bijlage %}" target="_blank"><img class="dimg" style="align-self: right; max-height: 1.5vh;" src="{% static 'syntrus/img/download.png' %}"></img></a>
                        {% endfor %}
                        {% endif %}

                        </p>
                      </div>
                      {% endif %}

                      <div>
                        <input class="item-id" name="item_id" type="number" value="{{ form.item_id.value }}" hidden>
                        <label for="{{ form.annotation.id_for_label }}" style="font-weight: bold"><p>Reactie (optioneel):</p></label>
                        <p class="formbox">{{ form.annotation }}</p>
                      </div>
                    </div>
                      {% if item|index:3 %}
                      <div class="status_added" id="status-{{ item|index:1 }}">              
                        <div><label for="{{ form.status.id_for_label }}"><p>Verander status:</p></label>
                          {{ form.status }}
                        </div>

                        {% if item|index:7 %}
                          <div><p>Kostenverschil: &#8364;{{ item|index:7 }}</p></div>
                          <div><label for="{{ form.kostenConsequenties.id_for_label }}"><p>Verander kosten:</p></label>
                              {{ form.kostenConsequenties }}
                          </div>
                        {% else %}
                          <div><label for="{{ form.kostenConsequenties.id_for_label }}"><p>Kostenverschil (optioneel):</p></label>
                              {{ form.kostenConsequenties }}
                          </div>
                        {% endif %}

                      {% else %}
                      <div class="status_not_added" id="status-{{ item|index:1 }}">
                        <div><label for="{{ form.status.id_for_label }}">Status:</label>
                          {{ form.status }}
                        </div>
                        <div><label for="{{ form.kostenConsequenties.id_for_label }}">Kostenverschil (optioneel):</label>
                          {{ form.kostenConsequenties }}
                        </div>  
                      {% endif %}

                      <div>
                          <label for="{{ form.accept.id_for_label }}"></label>Accepteer </label>
                          {{ form.accept }}
                      </div>
                    
                      </div>
                  </div>
                  {% endwith %}
                {% endfor %}
                </div>
                {% endfor %}
    {% endif %}
    </div>
{% endfor %}
</div>
{% else %}
<i>Alle regels zijn akkoord mee gegaan.</i>
{% endif %}
</div>

<div class="ui bottom attached tab segment" data-tab="accepted_comments">
{% if accepted_comments %}
<div class="titel_plusopmerking"><div class="left">Sectie</div><div class="right">Status       <popup-notify><span slot="message"><p>De status, opgevolgd door de opmerkingen op de regel en op elkaar. Mits er bijlages zijn toegevoegd, zijn deze downloadbaar hierna. "Nieuwe Status" betekent dat de status veranderd is bij de laatste check.</p></span></popup-notify></div></div>
<div class="item_opmerking_list">
{% for hoofdstuk, one_deep in hoofdstuk_ordered_items_accept.items %}
    <button type="button" class="hoofdstuk"><p>{{ hoofdstuk.hoofdstuk }} <img class="arrow-down" src="{% static 'syntrus/svg/ArrowDown.svg' %}"></img><img class="arrow-up" src="{% static 'syntrus/svg/ArrowUp.svg' %}"></img></p></button>
    <div class="hoofdstuk_content">
    {% if one_deep.items %}
        {% for paragraaf, items in one_deep.items %}
            <button type="button" class="paragraaf"><p>{{ paragraaf.paragraaf}} <img class="arrow-down" src="{% static 'syntrus/svg/ArrowDown.svg' %}"></img><img class="arrow-up" src="{% static 'syntrus/svg/ArrowUp.svg' %}"></img></p></button>
            <div class="paragraaf_content">
                {% for item in items %}
                  {% with form=item|index:9 %}
                    {% if item|index:5 %}
                    <div class="item_content" style="background-color: #bcf5bc;">
                    {% else %}
                    <div class="item_content">
                    {% endif %}

                      <div class="text_left" onClick="document.getElementById('{{ item|index:2 }}').style.display='block';">
                      <div>
                        <p style="display:inline;float:left;font-style:italic;">
                        {{ item|index:0 }}
                        {% if item|index:8 %} 
                          Bijlage: <a href="{% url 'downloadbijlage' item|index:1 %}" target="_blank">
                          <img class="dimg" style="align-self: right; max-height: 1.5vh;" src="{% static 'syntrus/img/download.png' %}"></img></a>
                        {% endif %}
                        </p>
                      </div>
                      {% if item|index:4 %}
                        <div>
                          <p style="color:#FF8000; display:inline;float:right;font-weight:900;">
                          Aanvulling: {{ item|index:4 }}</p>
                        </div>
                      {% endif %}

                      {% if item|index:3 %}

                      <div>
                        <p style="font-weight:bold;">Status en opmerkingen: {{ item|index:3 }}

                        {% if item|index:6 %}
                        <br>Opmerkingbijlages: 
                        {% for bijlage in item|index:6 %}
                          <a href="{% url 'downloadreplyattachment_syn' project.id bijlage %}" target="_blank"><img class="dimg" style="align-self: right; max-height: 1.5vh;" src="{% static 'syntrus/img/download.png' %}"></img></a>
                        {% endfor %}
                        {% endif %}

                        </p>
                      </div>
                      {% endif %}

                      <div>
                        <input class="item-id" name="item_id" type="number" value="{{ form.item_id.value }}" hidden>
                        <label for="{{ form.annotation.id_for_label }}" style="font-weight: bold"><p>Reactie (optioneel):</p></label>
                        <p class="formbox">{{ form.annotation }}</p>
                      </div>
                    </div>
                      {% if item|index:3 %}
                      <div class="status_added" id="status-{{ item|index:1 }}">              
                        <div><label for="{{ form.status.id_for_label }}"><p>Verander status:</p></label>
                          {{ form.status }}
                        </div>

                        {% if item|index:7 %}
                          <div><p>Kostenverschil: &#8364;{{ item|index:7 }}</p></div>
                          <div><label for="{{ form.kostenConsequenties.id_for_label }}"><p>Verander kosten:</p></label>
                              {{ form.kostenConsequenties }}
                          </div>
                        {% else %}
                          <div><label for="{{ form.kostenConsequenties.id_for_label }}"><p>Kostenverschil (optioneel):</p></label>
                              {{ form.kostenConsequenties }}
                          </div>
                        {% endif %}

                      {% else %}
                      <div class="status_not_added" id="status-{{ item|index:1 }}">
                        <div><label for="{{ form.status.id_for_label }}">Status:</label>
                          {{ form.status }}
                        </div>
                        <div><label for="{{ form.kostenConsequenties.id_for_label }}">Kostenverschil (optioneel):</label>
                          {{ form.kostenConsequenties }}
                        </div>  
                      {% endif %}

                      <div>
                          <label for="{{ form.accept.id_for_label }}"></label>Accepteer </label>
                          {{ form.accept }}
                      </div>
                    
                      </div>
                  </div>
                  {% endwith %}
          
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        {% for item in one_deep %}
                  {% with form=item|index:9 %}
                    {% if item|index:5 %}
                    <div class="item_content" style="background-color: #bcf5bc;">
                    {% else %}
                    <div class="item_content">
                    {% endif %}

                      <div class="text_left" onClick="document.getElementById('{{ item|index:2 }}').style.display='block';">
                      <div>
                        <p style="display:inline;float:left;font-style:italic;">
                        {{ item|index:0 }}
                        {% if item|index:8 %} 
                          Bijlage: <a href="{% url 'downloadbijlage' item|index:1 %}" target="_blank">
                          <img class="dimg" style="align-self: right; max-height: 1.5vh;" src="{% static 'syntrus/img/download.png' %}"></img></a>
                        {% endif %}
                        </p>
                      </div>
                      {% if item|index:4 %}
                        <div>
                          <p style="color:#FF8000; display:inline;float:right;font-weight:900;">
                          Aanvulling: {{ item|index:4 }}</p>
                        </div>
                      {% endif %}

                      {% if item|index:3 %}

                      <div>
                        <p style="font-weight:bold;">Status en opmerkingen: {{ item|index:3 }}

                        {% if item|index:6 %}
                        <br>Opmerkingbijlages: 
                        {% for bijlage in item|index:6 %}
                          <a href="{% url 'downloadreplyattachment_syn' project.id bijlage %}" target="_blank"><img class="dimg" style="align-self: right; max-height: 1.5vh;" src="{% static 'syntrus/img/download.png' %}"></img></a>
                        {% endfor %}
                        {% endif %}

                        </p>
                      </div>
                      {% endif %}

                      <div>
                        <input class="item-id" name="item_id" type="number" value="{{ form.item_id.value }}" hidden>
                        <label for="{{ form.annotation.id_for_label }}" style="font-weight: bold"><p>Reactie (optioneel):</p></label>
                        <p class="formbox">{{ form.annotation }}</p>
                      </div>
                    </div>
                      {% if item|index:3 %}
                      <div class="status_added" id="status-{{ item|index:1 }}">              
                        <div><label for="{{ form.status.id_for_label }}"><p>Verander status:</p></label>
                          {{ form.status }}
                        </div>

                        {% if item|index:7 %}
                          <div><p>Kostenverschil: &#8364;{{ item|index:7 }}</p></div>
                          <div><label for="{{ form.kostenConsequenties.id_for_label }}"><p>Verander kosten:</p></label>
                              {{ form.kostenConsequenties }}
                          </div>
                        {% else %}
                          <div><label for="{{ form.kostenConsequenties.id_for_label }}"><p>Kostenverschil (optioneel):</p></label>
                              {{ form.kostenConsequenties }}
                          </div>
                        {% endif %}


                      {% else %}
                      <div class="status_not_added" id="status-{{ item|index:1 }}">
                        <div><label for="{{ form.status.id_for_label }}">Status:</label>
                          {{ form.status }}
                        </div>
                        <div><label for="{{ form.kostenConsequenties.id_for_label }}">Kostenverschil (optioneel):</label>
                          {{ form.kostenConsequenties }}
                        </div>  
                      {% endif %}

                      <div>
                          <label for="{{ form.accept.id_for_label }}"></label>Accepteer </label>
                          {{ form.accept }}
                      </div>
                    
                      </div>
                  </div>
                  {% endwith %}

        {% endfor %}  
    {% endif %}
    </div>
{% endfor %}
</div>
{% else %}
<i>Nog geen PvE regels zijn akkoord mee gegaan.</i>
{% endif %}
</div>
</form>
{% endblock %}

{% block scripts %}
<script>
var coll = document.getElementsByClassName("hoofdstuk");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

var coll2 = document.getElementsByClassName("paragraaf");
var i;

for (i = 0; i < coll2.length; i++) {
  coll2[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

$('.leavecomment').click(function(e){
      e.preventDefault();
      $(this).next().show();
});

$('.menu .item')
  .tab()
;

</script>
{% endblock %}
{% endcache %}
