{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}

{% block menu %}
<div class="hamburger"><img src="{% static 'syntrus/svg/hamburger.svg' %}"></img></div>
<div class="menu_item"><a href="{% url 'dashboard_syn' %}" class="active">Dashboard</a></div>
<div class="menu_item"><a href="#">+ Opmerking</a></div>
<div class="menu_item"><a href="{% url 'invite_syn' %}">+ Derden</a></div>
<div class="menu_item"><a href="#">Download PVE</a></div>
{% endblock %}

{% block main %}
<p>Hello derde</p>
{% endblock %}
