{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}

{% block menu %}
<div class="hamburger"><img src="{% static 'syntrus/svg/hamburger.svg' %}"></img></div>
<div class="menu_item"><a href="{% url 'dashboard_syn' %}" class="active">Dashboard</a></div>
<div class="menu_item"><a href="{% url 'plusopmerkingOverview_syn' %}">+ Opmerking</a></div>
<div class="menu_item"><a href="{% url 'downloadPveOverview_syn' %}">Download PVE</a></div>
<div class="hori-menu-logout">
    <a href="{% url 'dashboard_syn' %}">Ingelogd als {{ request.user }}</a>
    <a href="{% url 'logout_syn' %}">Afmelden</a>
</div>
{% endblock %}

{% block main %}
<div class="main_content_div profile_box">
  <div class="profile_left"><img class="round-profile" src="{% static 'syntrus/svg/anonprofile.svg' %}"></img></div>
  <div class="profile_right">
  <table>
    <tr>
      <td><p class="profile-title">Naam:</p></td>
      <td>{{ request.user }}</td>
    </tr>
    <tr>
      <td><p class="profile-title">Functie:</p></td>
      <td>{{ request.user.functie }}</td>
    </tr>
    <tr>
      <td><p class="profile-title">Afdeling:</p></td>
      <td>{{ request.user.afdeling }}</td>
    </tr>
  </table>
  </div>
  <div class="profile_bottom">
    <p>Medewerker</p>
  </div>
</div>

<div class="flex-container">
  <div class="flex-item tooltip" onClick="tooltip.pop(this, '#download_pve_menu', {position:0, cssClass:'no-padding'})">
    <img class="flex-img" src="{% static 'syntrus/img/download.png' %}"></img>
    <p>Download PVE</p>
  </div>
  <div class="flex-item" onClick="tooltip.pop(this, '#add_opmerking_menu', {position:0, cssClass:'no-padding'})">
    <img class="flex-img" src="{% static 'syntrus/img/opmerking.png' %}"></img>
    <p>+ Opmerking</p>
  </div>
</div>

<div class="main_content_div">
    <table class="project_overview_content">
      <caption>Overzicht opmerkingen</caption>
      <thead>
        <tr class="table_title">
          <th>Item</th>
          <th>Project</th>
          <th>Mijn opmerking</th>
          <th>Bewerken</th>
        </tr>
      </thead>
      <tbody>
        {% if opmerkingen %}
        {% for opmerking in opmerkingen %}
        <tr class="table_content">
          <td>{{ opmerking.item.id }}</td>
          <td>{{ opmerking.project }}</td>
          <td>{{ opmerking.annotation }}</td>
          <td><a href="#"><img src="{% static 'syntrus/img/bewerk.png' %}"></img></a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td>
          <i>Nog geen opmerkingen geplaatst.</i>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
</div>

<div class="main_content_div">
    <table class="project_overview_content">
      <caption>Projecten overzicht</caption>
      <thead>
        <tr class="table_title">
          <th>Projectnummer</th>
          <th>Projectnaam</th>
          <th>Locatie</th>
          <th>Aantal VHE</th>
          <th>Fase</th>
          <th>Projectmanager</th>
          <th>Opmerking</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
        <tr class="table_content">
          <td>{{ project.nummer }}</td>
          <td>{{ project.naam }}</td>
          <td>{{ project.plaatsnamen }}</td>
          <td>{{ project.vhe }}</td>
          <td>{{ project.statuscontract }}</td>
          <td>{% if project.projectmanager %}{{ project.projectmanager }}{% else %}<i>Geen Projectmanager</i>{% endif %}</td>
          <td><a href="{% url 'plusopmerking_syn' project.id %}"><img src="{% static 'syntrus/img/plus.png' %}"></img></a></td>
          <td>{% if project.pveconnected %}<a href="{% url 'download_pve_syn' project.id %}"><img src="{% static 'syntrus/img/download.png' %}"></img></a>{% else %}Nog geen PvE{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<div style="display:none; font-family: 'Montserrat'; font-size: 1vh;" class="popup_wrapper">
<div id="download_pve_menu" class="download_pve_menu">
      <table class="pop-up-table">
        <thead>
          <tr>
            <th>Project</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
        {% for project in projects %}
          <tr>
            <td>{{ project.naam }}</td>
            <td>{% if project.pveconnected %}<a href="{% url 'download_pve_syn' project.id %}"><img class="dimg" style="align-self: right; max-width: 2vw;" src="{% static 'syntrus/img/download.png' %}"></img></a>{% else %}Niet beschikbaar{% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
</div>

<div style="display:none; font-family: 'Montserrat'; font-size: 1vh;" class="popup_wrapper">
<div id="add_opmerking_menu" class="add_opmerking_menu">
    <table class="pop_up_table">
      <thead>
        <tr class="table_title">
          <th>Project</th>
          <th>Opmerking</th>
        </tr>
      </thead>
      <tbody>
        {% if projects %}
            {% for project in projects %}
        <tr class="table_content">
          <td>{{ project.naam }}</td>
          <td class="link"><a href="{% url 'plusopmerking_syn' project.id %}"><img style="max-width: 1vw;" src="{% static 'syntrus/img/plus.png' %}"></img></a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td>
          <i>Nog geen projecten van u.</i>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
</div>
</div>

{% endblock %}
