{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}

{% block main %}
<div class="flex-container">
  <div class="flex-item" onClick="javascript:location.href='{% url 'manageprojecten_syn' client_pk %}';">
    <img class="flex-img" src="{% static 'syntrus/img/plusproject.png' %}"></img>
    <p>Projecten</p>
  </div>
  <div class="flex-item" onClick="javascript:location.href='{% url 'manageorganisaties_syn' client_pk %}';">
    <img class="flex-img" src="{% static 'syntrus/img/accountsderden.png' %}"></img>
    <p>Stakeholders</p>
  </div>
  <div class="flex-item" onClick="javascript:location.href='{% url 'kiespvegenerate' client_pk %}';">
    <img class="flex-img" src="{% static 'syntrus/img/genereer.png' %}"></img>
    <p>Genereer PVE</p>
  </div>
</div>
<div class="base_info_table">
  <table id="myTable">
      <tbody>
        <tr class="table_title">
          <th><p>Projectnummer</p></th>
          <th><p>Projectnaam</p></th>
          <th><p>Locatie</p></th>
          <th><p>Aantal VHE</p></th>
          <th><p>Fase</p></th>
          <th><p>Projectmanager</p></th>
          <th><p>Download PvE</p></th>
        </tr>
        {% if projects %}
        {% for project in projects %}
        <tr class="table_content">
          <td><p>{{ project.nummer }}</p></td>
      <td><p><a href="{% url 'viewproject_syn' client_pk project.id %}"><button class="ui basic button">{{ project.naam }}<i class="right arrow icon"></i></button></a></p></td>
          <td><p>{{ project.plaatsnamen }}</p></td>
          <td><p>{{ project.vhe }}</p></td>
          <td><p>{{ project.statuscontract }}</p></td>
          <td><p>{% if project.projectmanager %}{{ project.projectmanager }}{% else %}<i>Nog niet toegevoegd.</i>{% endif %}</p></td>
          <td><p>{% if project.pveconnected %}<a href="{% url 'download_pve_syn' client_pk project.id %}"><img class="img" src="{% static 'syntrus/img/download.png' %}"></img></a>{% else %}<i>Niet toegevoegd</i>{% endif %}</p></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr class="table_content">
          <td><p>Nog geen projecten van u.</p></td>
          <td><p>&nbsp;</p></td>
          <td><p>&nbsp;</p></td>
          <td><p>&nbsp;</p></td>
          <td><p>&nbsp;</p></td>
          <td><p>&nbsp;</p></td>
          <td><p>&nbsp;</p></td>
        </tr>
        {% endif %}
      </tbody>
    </table>
</div>
{% endblock %}
