{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}

{% block menu %}
<div class="hamburger"><img src="{% static 'syntrus/svg/hamburger.svg' %}"></img></div>
<div class="menu_item"><a href="{% url 'dashboard_syn' %}" class="active">Dashboard</a></div>
<div class="menu_item"><a href="#">+ Opmerking</a></div>
<div class="menu_item"><a href="{% url 'invite_syn' %}">+ Derden</a></div>
<div class="menu_item"><a href="#">Download PVE</a></div>
{% endblock %}

{% block main %}
<p>Hello derde</p>
<div class="project_overview">
    <table class="project_overview_content">
      <caption>Projecten overzicht</caption>
      <thead>
        <tr class="table_title">
          <th>Projectnummer</th>
          <th>Projectnaam</th>
          <th>Locatie</th>
          <th>Aantal VHE</th>
          <th>Fase</th>
          <th>Medewerker</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
        <tr class="table_content">
          <td>{{ project.nummer }}</td>
          <td>{{ project.naam }}</td>
          <td>{{ project.plaatsnamen }}</td>
          <td>{{ project.vhe }}</td>
          <td>{{ project.statuscontract }}</td>
          <td>{{ project.projectmanager }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}
