{% extends "MyCommentsDelete.html" %}

{% load semanticui %}

{% load filename %}

{% block modal %}
<script>
$('.mini.modal')
  .modal('show')
;
</script>

<div class="ui mini modal">
  <div class="header">
    Weet u het zeker?
  </div>
  <div class="content">
    <form action="{% url 'verwijderbijlageopmerking_syn' project.id comment.id %}" class="ui form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" style="float: right;" class="ui basic red button" value="Verwijder">
    </form>  

    <p><a href="{% url 'mijnopmerkingendelete_syn' project.id %}" class="bewerk_button"><button style="float: left;" class="ui green button">Behoud</button></a></p> 
  </div>
</div>

{% endblock %}
