{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}

{% block main %}
<div class="general_title"><img src="{% static 'syntrus/img/accountsderden.png'%}" class="title_img"></img><p>Mijn Opmerkingen, project {{ project.naam }}
{% if project.frozenLevel == 0 %}
{% if aantal_opmerkingen_gedaan == 4 %}
<input type="button" class="{{ progress }}" onClick="javascript:location.href='{% url 'firstfreeze_syn' project.id %}';" value="Stuur opmerkingen door ({{ aantal_opmerkingen_gedaan }} / {{ items|length }})"></input>
{% else %}
<input type="button" class="{{ progress }}" disabled onClick="javascript:location.href='#';" value="Stuur opmerkingen door ({{ aantal_opmerkingen_gedaan }} / {{ items|length }})"></input>
{% endif %}
{% else %}
<input type="button" class="{{ progress }}" disabled onClick="javascript:location.href='#';" value="{{ aantal_opmerkingen_gedaan }} opmerkingen doorgestuurd"></input>
{% endif %}<a style="float: right;" href="{% url 'mijnopmerkingen_syn' project.id %}"><button class="ui blue button"><i class="icon check"></i>Gereed</button></a></p></div>

<table class="opmerkingtable_wrapper">
  <tr class="table_head">
    <th><img src="{% static 'syntrus/svg/logo.svg' %}" class="syntr_logo"></a></th>
    <th><p>Opmerking</p></th>
    <th><p>Status</p></th>
    <th><p>Kostenverschil</p></th>
    <th><p>Acties</p></th>
    <th><p>Bijlage</p></th>
  </tr>
  {% if comments %}
  {% for comment in comments %}
  <tr class="table_content">
    <td class="inhoud_box"><p>{{ comment.item.inhoud }}</p></td>
    <td class="voldoening"><p>{% if comment.annotation %}{{ comment.annotation }}{% else %}&nbsp;{% endif %}</p></td>
    <td class="voldoening"><p>{% if comment.status %}{{ comment.status }}{% else %}&nbsp;{% endif %}</p></td>
    <td class="kosten"><p>{% if comment.kostenConsequenties %}€ {{ comment.kostenConsequenties }}{% else %}&nbsp;{% endif %}</p></td>
    <td class="voldoening"><a href="{% url 'deleteAnnotationPve_syn' project.id comment.id %}"><button class="ui icon basic red button"><i class="icon delete"></i></button></a></p></td>
    <td class="voldoening">{% if not comment.bijlage %}<p><i>Leeg</i></p>{% else %}<a href="{% url 'downloadbijlageaanopmerking_syn' project.id comment.id %}" style="float:left;" target="_blank"><button class="ui icon basic button"><i class="icon download"></i></button></a><p><a href="{% url 'verwijderbijlageopmerking_syn' project.id comment.id %}" style="float: right;"><button class="ui icon basic red button"><i class="icon delete"></i></button></a></p>{% endif %}</td>

  </tr>
  {% endfor %}
  <tr>
    <td class="inhoud_box">&nbsp;</td>
    <td class="voldoening">&nbsp;</td>
    <td class="voldoening">&nbsp;</td>
    <td class="kosten"><p>Totaal: {% if totale_kosten %}€{{totale_kosten}}{% else %}€0{% endif %}</p></td>
  </tr>
  {% else %}
  <td class="inhoud_box"><i>Nog geen opmerkingen geplaatst.</i></td>
  {% endif %}
</table>
{% endblock %}
{% block modal %}
{% endblock %}