{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}
{% load i18n %}
{% block topscripts %}
<script>

function toggleShowInput(id, el) {
	show_div = document.getElementsByClassName("showaccept-" + id);
  console.log(el.value)
  
  for (i = 0; i < show_div.length; i++) {
    if (el.value === "False") {
      show_div[i].style.display = "block"
    } else {
      show_div[i].style.display = "none"
    }
  }
};

</script>
{% endblock %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}

{% block main %}
<div class="ui breadcrumb" style="margin-bottom:3vh;">
<a class="section" href="{% url 'dashboard_syn' client_pk %}">Dashboard</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'viewprojectoverview_syn' client_pk %}">Mijn Projecten</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'viewproject_syn' client_pk project.id %}">Project: {{ project.naam }}</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'commentscheck_syn' client_pk project.id %}">Checklist</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Laatste check</div>
</div>

<div class="general_title"><img src="{% static 'syntrus/img/accountsderden.png'%}" class="title_img"></img><p>Laatste Check
<input type="submit" class="submit_button" onClick="javascript:location.href='{% url 'sendreplies_syn' client_pk project.id %}';" value="Stuur door >"></input></p></div>

<div class="opmerkingtable_wrapper">

<table>
  <tr class="table_head">
    <th><img src="{% static 'syntrus/svg/logo.svg' %}" class="syntr_logo"></a></th>
    <th><p>Akkoord</p></th>
    <th><p>Inhoud</p></th>
    <th><p>Bijlage</p></th>
    <th><p>Datum bewerkt</p></th>
    <th><p>Acties</p></th>
  </tr>

  {% if page_obj %}
  {% for reply in page_obj %}
  <tr class="table_content">
            {% language 'nl' %}
    <td class="inhoud_box"><p>{{ reply.onComment.item.inhoud }}</p></td>
    <td class="voldoening"><p>{% if reply.accept %}Ja{% else %}&nbsp;{% endif %}</p></td>
    <td class="voldoening"><p>{% if reply.status %}Nieuwe status: <i>{{ reply.status }}</i>{% else %}&nbsp;{% endif %}{% if reply.comment %}<br>Opmerking: <i>{{ reply.comment }}</i>{% else %}&nbsp;{% endif %}{% if reply.bijlage %}<br>Bijlage: <a href="{% url 'downloadreplyattachment_syn' client_pk project.id reply.id %}?page={{ page_obj.number }}" style="float:left;" target="_blank"><button class="ui icon basic button"><i class="icon download"></i></button></a>{% endif %}{% if reply.kostenConsequenties %}<br>Kostenverschil: &#8364; {{ reply.kostenConsequenties }}{% endif %}</p></td>
    <td class="voldoening">{% if not reply.bijlage %}<p><a href="{% url 'addreplyattachment_syn' client_pk project.id reply.id %}?page={{ page_obj.number }}"><button class="ui icon basic button"><i class="icon plus"></i></button></a></p>{% else %}<a href="{% url 'downloadreplyattachment_syn' client_pk project.id reply.id %}?page={{ page_obj.number }}" style="float:left;" target="_blank"><button class="ui icon basic button"><i class="icon download"></i></button></a><a href="{% url 'deletereplyattachment_syn' client_pk project.id reply.id %}?page={{ page_obj.number }}"><button class="ui icon basic red button"><i class="icon delete"></i></button></a>{% endif %}</td>
    <td class="voldoening"><p>{{ reply.datum }}</p></td>
    <td class="voldoening"><p style="float: left;" onClick="document.getElementById('{{ reply.onComment.id }}').style.display='block'"><button class="ui icon basic button"><i class="icon edit"></i></button></p><p><a href="{% url 'deletereply_syn' client_pk project.id reply.id %}?page={{ page_obj.number }}"><button class="ui icon basic red button"><i class="icon delete"></i></button></a></p></td>
  </tr>
  {% endlanguage %}
  {% endfor %}

  {% else %}
  <td class="inhoud_box"><p>Nog geen opmerkingen geplaatst.</p></td>
  {% endif %}
</table>
</div>
<form class="opmerking_form" action="{% url 'myreplies_syn' client_pk project.id %}?page={{ page_obj.number }}" method="POST" enctype="multipart/form-data">
{% csrf_token %}

<div class="opmerking_form_modal">
        {% for form in ann_forms %}
            <div id="{{ form.comment_id.value }}" class="w3-modal">
                <div class="w3-modal-content">
                    <div class="w3-container">
                        <div onclick="document.getElementById('{{ form.comment_id.value }}').style.display='none'" class="sluit_x_button"><p>Sluit</p></div>
                        <input class="comment-id" name="comment_id" type="number" value="{{ form.comment_id.value }}" hidden>
                        <label for="{{ form.accept.id_for_label }}">Akkoord:</label>
                        <p class="formbox">{{ form.accept }}</p>           
                        <div class="showaccept-{{ form.comment_id.value }}" style="display:block;">
                          <div>         
                          <label for="{{ form.status.id_for_label }}">(Optioneel) Nieuwe Status:</label>
                          <p class="formbox">{{ form.status }}</p>
                          </div>
                          <div>
                          <label for="{{ form.annotation.id_for_label }}">(Optioneel) Opmerking:</label>
                          <p class="formbox">{{ form.annotation }}</p>
                          </div>
                          <div>
                          <label for="{{ form.kostenConsequenties.id_for_label }}">(Optioneel) Kostenverschil:</label>
                          <p class="formbox">{{ form.kostenConsequenties }}</p>
                          </div>
                        </div>
                        <span class="form_buttons">
                          <div onclick="document.getElementById('{{ form.comment_id.value|add:"-1" }}').style.display='block'; document.getElementById('{{ form.comment_id.value }}').style.display='none'" class="done_button left"><p>&lt; Vorige</p></div>
                          <input type="submit" class="done_button" value="Gereed"></input>
                          <div onclick="document.getElementById('{{ form.comment_id.value|add:1 }}').style.display='block'; document.getElementById('{{ form.comment_id.value }}').style.display='none'" class="done_button right"><p>Volgende &gt;</p></div>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}

</div>
</form>

<div class="pagination">
  <div class="step-links">
      <div class="previous_next">
      {% if page_obj.has_previous %}
          <a href="?page=1"><p>&laquo;</p></a>
          <a href="?page={{ page_obj.previous_page_number }}"><p>&lt;</p></a>
      {% endif %}
      </div>
      <div class="current">
          <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
      </div>
      <div class="previous_next">
      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}"><p>&gt;</p></a>
          <a href="?page={{ page_obj.paginator.num_pages }}"><p>&raquo;</p></a>
      {% endif %}
      </div>
  </div>
</div>
{% endblock %}
{% block modal %}
{% endblock %}

{% block scripts %}
<script>
window.addEventListener("load",function(){
    select_elements = document.getElementsByClassName("select_accept");
    
    for (i = 0; i < select_elements.length; i++) {
      accepted = select_elements[i].value
      id = select_elements[i].id.split("_")[2]
	    show_div = document.getElementsByClassName("showaccept-" + id);

      for (j = 0; j < show_div.length; j++) {
        if (accepted === "False") {
          show_div[j].style.display = "block"
        } else {
          show_div[j].style.display = "none"
        }
      }
    }

},false);
</script>
{% endblock %}