{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}

{% block main %}
<div class="ui breadcrumb" style="margin-bottom:3vh;">
<a class="section" href="{% url 'dashboard_syn' client_pk %}">Dashboard</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'viewprojectoverview_syn' client_pk %}">Mijn Projecten</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'viewproject_syn' client_pk project.id %}">Project: {{ project.naam }}</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'commentscheck_syn' client_pk project.id %}">Checklist</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Laatste check</div>
</div>

<div class="general_title"><img src="{% static 'syntrus/img/accountsderden.png'%}" class="title_img"></img><p>Laatste Check
<input type="submit" class="submit_button" onClick="javascript:location.href='{% url 'sendreplies_syn' client_pk project.id %}';" value="Stuur door >"></input>
<a href="{% url 'myreplies_syn' client_pk project.id %}"><button class="ui blue button"><i class="icon check"></i>Gereed</button></a></p></div>


<div class="opmerkingtable_wrapper">
<table>
  <tr class="table_head">
    <th><img src="{% static 'syntrus/svg/logo.svg' %}" class="syntr_logo"></a></th>
    <th><p>Akkoord</p></th>
    <th><p>Inhoud</p></th>
    <th><p>Acties</p></th>
    <th><p>Bijlage</p></th>
    <th><p>Datum bewerkt</p></th>
  </tr>
  {% if page_obj %}
  {% for reply in page_obj %}
  <tr class="table_content">
    <td class="inhoud_box"><p>{{ reply.onComment.item.inhoud }}</p></td>
    <td class="voldoening"><p>{% if reply.accept %}Ja{% else %}&nbsp;{% endif %}</p></td>
    <td class="voldoening"><p>{% if reply.status %}Nieuwe status: <i>{{ reply.status }}</i>{% else %}&nbsp;{% endif %}{% if reply.comment %}<br>Opmerking: <i>{{ reply.comment }}</i>{% else %}&nbsp;{% endif %}{% if reply.bijlage %}<br>Bijlage: <a href="{% url 'downloadreplyattachment_syn' client_pk project.id reply.id %}" style="float:left;" target="_blank"><button class="ui icon basic button"><i class="icon download"></i></button></a>{% endif %}{% if reply.kostenConsequenties %}<br>Kostenverschil: &#8364; {{ reply.kostenConsequenties }}{% endif %}</p></td>
    <td class="voldoening"><a href="{% url 'deletereply_syn' client_pk project.id reply.id %}"><button class="ui icon basic red button"><i class="icon delete"></i></button></a></p></td>
    <td class="voldoening">{% if not comment.bijlage %}<p><i>Leeg</i></p>{% else %}<a href="{% url 'downloadreplyattachment_syn' client_pk project.id reply.id %}" style="float:left;" target="_blank"><button class="ui icon basic button"><i class="icon download"></i></button></a><p><a href="{% url 'deletereplyattachment_syn' client_pk project.id comment.id %}" style="float: right;"><button class="ui icon basic red button"><i class="icon delete"></i></button></a></p>{% endif %}</td>
    <td class="voldoening"><p>{{ reply.datum }}</p></td>
  </tr>
  {% endfor %}

  {% else %}
  <td class="inhoud_box"><p>Nog geen opmerkingen geplaatst.</p></td>
  {% endif %}
</table>
</div>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
{% block modal %}
{% endblock %}