{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}

{% block main %}
<div class="ui breadcrumb" style="margin-bottom:3vh;">
<a class="section" href="{% url 'dashboard_syn' %}">Dashboard</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Organisaties</div>
</div>

<div class="opmerking_project_list">
    <div class="general_title"><img src="{% static 'syntrus/img/accountsderden.png'%}" class="title_img"></img><p>Organisaties <a href="{% url 'addorganisatie_syn' %}"><button class="ui icon green button"><i class="icon plus"></i>Maak Organisatie Aan</button></a></p> </div>
<input type="text" class="searchable_table_input" id="myInput" onkeyup="searchableLookup()" placeholder="Zoek op organisatie.." title="Typ een organisatie in">

<div class="base_info_table">
  <table id="myTable">
<tbody>        
<tr class="table_title">
          <th><p>Organisatie</p></th>
          <th><p>Projecten</p></th>
          <th><p>Werknemers</p></th>
          <th><p>Acties</p></th>
        </tr>
        {% if organisaties %}
            {% for organisatie in organisaties %}
        <tr class="table_content">
          <td><p>{{ organisatie.naam }}</p></td>
          <td><p>{% if organisatie.projecten.all %}{% for project in organisatie.projecten.all %}{{ project }}, {% endfor %}{% else %}<i>Geen</i>{% endif %}</p></td>
          <td><p>{% for gebruiker in organisatie.gebruikers.all %}{{ gebruiker }} ({{ gebruiker.email }}), {% endfor %} <a href="{% url 'addusersorganisatie_syn' organisatie.id %}"><img src="{% static 'syntrus/img/plus.png' %}"></img></a></p></td>
          <td><p><a href="{% url 'deleteorganisatie_syn' organisatie.id %}"><button class="ui icon basic red button"><i class="icon delete"></i></button></a></p></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td><p>
          <i>Nog geen organisaties toegevoegd.</i>
          </p></td>
        </tr>
        {% endif %}
        <tr>
            <td><p>
            </p></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock %}
{% block modal %}
{% endblock %}
{% block scripts %}
<script>
$('th').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).text() }

function searchableLookup() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

</script>
{% endblock %}