{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block menu %}
<div class="hamburger"><img src="{% static 'syntrus/svg/hamburger.svg' %}"></img></div>
<div class="menu_item"><a href="{% url 'dashboard_syn' %}">Dashboard</a></div>
<div class="menu_item"><a href="#">+ Opmerking</a></div>
<div class="menu_item"><a href="{% url 'invite_syn' %}" class="active">+ Derde</a></div>
<div class="menu_item"><a href="#">Download PVE</a></div>
{% endblock %}

{% block main %}
<div class="invite-container">
    <div class="box">
        <p class="title">Nodig Derde Uit</p>
        <p class="description">Voeg een derde toe aan een van uw projecten, waar ze dan opmerkingen aan het PVE kunnen toevoegen. Een e-mail zal verstuurd worden voor het aanmelden voor uw project. De uitnodiging is 10 dagen geldig.</p>
        <form action="{% url 'invite_syn' %}" method="post">
            {% csrf_token %}
            <label class="formtitle" for="{{ form.invitee.id_for_label }}">E-mail derde:</label>
            <p class="formbox">{{ form.invitee }}</p>        
            <label class="formtitle" for="{{ form.invitee.id_for_label }}">Voor project:</label>
            <p class="formbox">{{ form.project }}</p>
            <input type="submit" class="button" value="Nodig uit">
        </form>    
    </div>
</div>
{% endblock %}