{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}

{% block main %}
<div class="general_title"><img src="{% static 'syntrus/img/accountsderden.png'%}" class="title_img"></img><p>Derden uitnodigen</p></div>
<div class="invite-container">
    <div class="box">
        <p class="description">Voeg een derde toe aan een van uw projecten, waar ze dan opmerkingen aan het PVE kunnen toevoegen. Een e-mail zal verstuurd worden voor het aanmelden voor uw project. De uitnodiging is 10 dagen geldig.</p>
        <form action="{% url 'invite_syn' %}" method="post">
            {% csrf_token %}
            <label class="formtitle" for="{{ form.invitee.id_for_label }}">Voor project (optioneel):</label>
            <p class="formbox">{{ form.project }}</p>
            <label class="formtitle" for="{{ form.organisatie.id_for_label }}">Organisatie (optioneel):</label>
            <p class="formbox">{{ form.organisatie }}</p>
            <label class="formtitle" for="{{ form.invitee.id_for_label }}">E-mail derde:</label>
            <p class="formbox">{{ form.invitee }}</p>        
            <input type="submit" class="button" value="Nodig uit">
        </form>    
    </div>
</div>
{% endblock %}