{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}
{% load cache %}
{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}
{% cache 500 sidebar %}

{% block main %}

<div class="ui breadcrumb" style="margin-bottom:3vh;">
<a class="section" href="{% url 'dashboard_syn' client_pk %}">Dashboard</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'viewprojectoverview_syn' client_pk %}">Mijn Projecten</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'viewproject_syn' client_pk project.id %}">Project: {{ project.naam }}</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Eerste statusaanwijzing</div>
</div>

<form class="opmerking_form" action="{% url 'plusopmerking_syn' client_pk project.id %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}

<div class="general_title"><img src="{% static 'syntrus/img/accountsderden.png'%}" class="title_img"></img><p>Eerste statusaanwijzing / Aanvullingen op regels<input type="submit" class="submit_button" value="Opslaan >"></input></p></div>
<div style="height:6vh;"></div>
{% if items %}
<div class="titel_plusopmerking"><div class="left">Sectie</div><div class="right">Status       <popup-notify><span slot="message"><p>Groen = status is al opgeslagen. Geel = u heeft net een wijziging gemaakt. Rood = nog geen status aangegeven.</p></span></popup-notify></div></div>
<div class="item_opmerking_list">
{% for hoofdstuk, one_deep in hoofdstuk_ordered_items.items %}
    <button type="button" class="hoofdstuk"><p>{{ hoofdstuk.hoofdstuk }} <img class="arrow-down" src="{% static 'syntrus/svg/ArrowDown.svg' %}"></img><img class="arrow-up" src="{% static 'syntrus/svg/ArrowUp.svg' %}"></img></p></button>
    <div class="hoofdstuk_content">
    {% if one_deep.items %}
        {% for paragraaf, items in one_deep.items %}
            <button type="button" class="paragraaf"><p>{{ paragraaf.paragraaf }} <img class="arrow-down" src="{% static 'syntrus/svg/ArrowDown.svg' %}"></img><img class="arrow-up" src="{% static 'syntrus/svg/ArrowUp.svg' %}"></img></p></button>
            <div class="paragraaf_content">
                {% for item in items %}
                  {% with regel=item|index:0 %}
                  {% with opmerking=item|index:1 %}
                  {% with bijlage=item|index:2 %}
                  {% with form=item|index:3 %}
                    <div class="item_content">
                      <div class="text_left">
                        <p style="font-style:italic;">
                          {{ regel }}{% if bijlage %} 
                          Bijlage: <a href="{% url 'downloadbijlage' client_pk regel.id %}" target="_blank">
                          <img class="dimg" style="align-self: right; max-height: 1.5vh;" src="{% static 'syntrus/img/download.png' %}"></img>
                          </a>
                          {% endif %}
                        </p>
                        <input class="item-id" name="item_id" type="number" value="{{ form.item_id.value }}" hidden>
                        <label for="{{ form.annotation.id_for_label }}" style="font-weight: bold"><p>Aanvulling (optioneel):</p></label>
                        <p class="formbox">{{ form.annotation }}</p>
                      </div>
                    {% if opmerking.status %}
                      <div class="status_added" id="status-{{ regel.id }}">
                      <p>Status: {{ opmerking.status }}</p>
                      <div><label for="{{ form.status.id_for_label }}"><p>Bewerk Status:</p></label>
                      {{ form.status }}</div>
                    {% else %}
                      <div class="status_not_added" id="status-{{ regel.id }}">
                      <div><label for="{{ form.status.id_for_label }}"><p>Status:</p></label>
                      {{ form.status }}</div>
                    {% endif %}
                      <div><label for="{{ form.kostenConsequenties.id_for_label }}"><p>Kostenverschil (optioneel):</p></label>
                      {{ form.kostenConsequenties }}</div>               
                    </div>
                  </div>
                  {% endwith %}
                  {% endwith %}
                  {% endwith %}
                  {% endwith %}
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        {% for item in one_deep %}
          {% with regel=item|index:0 %}
          {% with opmerking=item|index:1 %}
          {% with bijlage=item|index:2 %}
          {% with form=item|index:3 %}
          <div class="item_content">
            <div class="text_left">
              <p style="font-style:italic;">
                {{ regel }}{% if bijlage %} 
                Bijlage: <a href="{% url 'downloadbijlage' client_pk regel.id %}" target="_blank">
                <img class="dimg" style="align-self: right; max-height: 1.5vh;" src="{% static 'syntrus/img/download.png' %}"></img>
                </a>
                {% endif %}
              </p>
              <input class="item-id" name="item_id" type="number" value="{{ form.item_id.value }}" hidden>
              <label for="{{ form.annotation.id_for_label }}" style="font-weight: bold"><p>Aanvulling (optioneel):</p></label>
              <p class="formbox">{{ form.annotation }}</p>
            </div>
          {% if opmerking.status %}
            <div class="status_added" id="status-{{ regel.id }}">
            <p>Status: {{ opmerking.status }}</p>
            <div><label for="{{ form.status.id_for_label }}"><p>Bewerk Status:</p></label>
            {{ form.status }}</div>
          {% else %}
            <div class="status_not_added" id="status-{{ regel.id }}">
            <div><label for="{{ form.status.id_for_label }}"><p>Status:</p></label>
            {{ form.status }}</div>
          {% endif %}
            <div><label for="{{ form.kostenConsequenties.id_for_label }}"><p>Kostenverschil (optioneel):</p></label>
            {{ form.kostenConsequenties }}</div>               
          </div>
        </div>
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endfor %}  
    {% endif %}
    </div>
{% endfor %}
</div>

{% else %}
<p>Nog geen PVE gekoppeld aan dit project.</p>
{% endif %}
</form>
{% endblock %}

{% block scripts %}
<script>
var coll = document.getElementsByClassName("hoofdstuk");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

var coll2 = document.getElementsByClassName("paragraaf");
var i;

for (i = 0; i < coll2.length; i++) {
  coll2[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

$('.leavecomment').click(function(e){
      e.preventDefault();
      $(this).next().show();
});

</script>
{% endblock %}
{% endcache %}
