{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}

{% block main %}
<form class="opmerking_form" action="{% url 'plusopmerking_syn' project.id %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}

<div class="general_title"><img src="{% static 'syntrus/img/accountsderden.png'%}" class="title_img"></img><p>Eerste statusaanwijzing<input type="submit" class="submit_button" value="Opslaan"></input></p></div>
<ul class="list">
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
</ul>
{% if items %}

<div class="titel_plusopmerking"><div class="left">Sectie</div><div class="right">Status       <popup-notify><span slot="message"><p>Groen = status is al opgeslagen. Geel = u heeft net een wijziging gemaakt. Rood = nog geen status aangegeven.</p></span></popup-notify></div></div>
<div class="item_opmerking_list">
{% for hoofdstuk, one_deep in hoofdstuk_ordered_items.items %}
    <button type="button" class="hoofdstuk">{{ hoofdstuk.hoofdstuk }} <img class="arrow-down" src="{% static 'syntrus/svg/ArrowDown.svg' %}"></img><img class="arrow-up" src="{% static 'syntrus/svg/ArrowUp.svg' %}"></img></button>
    <div class="hoofdstuk_content">
    {% if one_deep.items %}
        {% for paragraaf, items in one_deep.items %}
            <button type="button" class="paragraaf">{{ paragraaf.paragraaf }} <img class="arrow-down" src="{% static 'syntrus/svg/ArrowDown.svg' %}"></img><img class="arrow-up" src="{% static 'syntrus/svg/ArrowUp.svg' %}"></img></button>
            <div class="paragraaf_content">
                {% for item in items %}
                    <div class="item_content" onClick="document.getElementById('{{ item|index:1 }}').style.display='block'; document.getElementById('status-{{ item|index:1 }}').style.color='#E6BF00'"><div class="text_left"><p>{{ item|index:0 }}</p></div>
                    {% if item|index:2 %}<div class="status_added" id="status-{{ item|index:1 }}">
                    <p>Status: {{ item|index:2 }}</p></div>
                    {% else %}
                    <div class="status_not_added" id="status-{{ item|index:1 }}">
                    <p>Voeg status toe</p></div>{% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        {% for item in one_deep %}
        <div class="item_content" onClick="document.getElementById('{{ item|index:1 }}').style.display='block'; document.getElementById('status-{{ item|index:1 }}').style.color='#E6BF00'">
          <div class="text_left"><p>{{ item|index:0 }}</p></div>
          {% if item|index:2 %}<div class="status_added" id="status-{{ item|index:1 }}">
            <p>Status: {{ item|index:2 }}</p></div>
            {% else %}
            <div class="status_not_added" id="status-{{ item|index:1 }}">
            <p>Voeg status toe</p></div>{% endif %}
        </div>
        {% endfor %}  
    {% endif %}
    </div>
{% endfor %}
</div>
<div class="opmerking_form_modal">
        {% for form in forms %}
            <div id="{{ form.item_id.value }}" class="w3-modal">
                <div class="w3-modal-content">
                    <div class="w3-container">
                        <input class="item-id" name="item_id" type="number" value="{{ form.item_id.value }}">
                        <label class="item_label">Item:</label>
                        <p class="inhoud">{{ items|index:forloop.counter0|slice:":100" }}</p>
                        <label for="{{ form.status.id_for_label }}">Status:</label>
                        <p class="formbox">{{ form.status }}</p>
                        <label for="{{ form.annotation.id_for_label }}">Opmerking (optioneel):</label>
                        <p class="formbox">{{ form.annotation }}</p>
                        <label for="{{ form.kostenConsequenties.id_for_label }}">Kostenverschil (optioneel):</label>
                        <p class="formbox">{{ form.kostenConsequenties }}</p>                    
                        <span class="form_buttons">
                          <div onclick="document.getElementById('{{ form_item_ids|previous_one:forloop.counter0 }}').style.display='block'; document.getElementById('status-{{ form_item_ids|previous_one:forloop.counter0 }}').style.color='#E6BF00'; document.getElementById('{{ form.item_id.value }}').style.display='none'" class="done_button left"><p>< Vorige</p></div>
                          <div onclick="document.getElementById('{{ form.item_id.value }}').style.display='none'" class="done_button center"><p>Gereed</p></div>
                          <div onclick="document.getElementById('{{ form_item_ids|next_one:forloop.counter0 }}').style.display='block'; document.getElementById('status-{{ form_item_ids|next_one:forloop.counter0 }}').style.color='#E6BF00'; document.getElementById('{{ form.item_id.value }}').style.display='none'" class="done_button right"><p>Volgende ></p></div>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}

</div>
{% else %}
<p>Nog geen PVE gekoppeld aan dit project.</p>
{% endif %}
</form>
{% endblock %}

{% block scripts %}
<script>
var coll = document.getElementsByClassName("hoofdstuk");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

var coll2 = document.getElementsByClassName("paragraaf");
var i;

for (i = 0; i < coll2.length; i++) {
  coll2[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

$('.leavecomment').click(function(e){
      e.preventDefault();
      $(this).next().show();
});

</script>
{% endblock %}