{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}

{% block main %}

<div class="opmerking_project_list">
    <div class="general_title"><img src="{% static 'syntrus/img/accountsderden.png'%}" class="title_img"></img><p>+ Opmerking</p></div>
<div class="main_content_div">
    <table class="project_overview_content">
      <thead>
        <tr class="table_title">
          <th>Project</th>
          <th>Opmerking</th>
        </tr>
      </thead>
      <tbody>
        {% if projects %}
            {% for project in projects %}
        <tr class="table_content">
          <td>{{ project.naam }}</td>
          <td class="link"><a href="{% url 'plusopmerking_syn' project.id %}"><img src="{% static 'syntrus/img/plus.png' %}"></img></a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td>
          <i>Nog geen projecten van u.</i>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
</div>
</div>
{% endblock %}