{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}

{% block main %}
<div class="ui breadcrumb" style="margin-bottom:3vh;">
<a class="section" href="{% url 'dashboard_syn' %}">Dashboard</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'viewprojectoverview_syn' %}">Mijn Projecten</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'viewproject_syn' project.id %}">Project: {{ project.naam }}</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'commentscheck_syn' project.id %}">Checklist</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Doorsturen</div>
</div>

<div class="general_title"><img src="{% static 'syntrus/img/accountsderden.png' %}" class="title_img"></img><p>Doorsturen</p></div>
<div class="invite-container">
    <div class="box">
            <p class="description">Stuur uw reacties en afwijkingen door. Regels waar geen wijziging aan is toegevoegd worden genoteerd als geaccepteerd, of als TODO als er nog geen originele status is aan toegevoegd.</p>
        <form action="{% url 'sendreplies_syn' pk %}" method="post">
            {% csrf_token %}
            <label class="formtitle" for="{{ form.confirm.id_for_label }}">Vink aan voor bevestiging.</label>
            <p class="formbox">{{ form.confirm }}</p>
            <input type="submit" class="button" value="Stuur door">
        </form>    
    </div>
</div>

{% endblock %}