{% extends "layout.html" %}

{% load semanticui %}

{% load filename %}

{% block main %}

<h1 class="ui header">Admin Dashboard</h1>
<i>{{ greeting }}, {{ request.user.username }}.</i>
<div class="ui divider"></div>
<div>
<h2 class="ui header">Programma van Eisen</h2>
	<a href="{% url 'generate' %}"><button class="ui basic button"><i class="icon download"></i>Genereer voorbeeld PvE</button></a><br><br>
	<a href="{% url 'compare' %}"><button class="ui basic button"><i class="icon download"></i>Genereer afwijkingenlijst</button></a><br><br>
	<a href="{% url 'sectionview' %}"><button class="ui basic button"><i class="icon edit"></i>Bewerk Programma van Eisen</button></a><br><br>
	<a href="{% url 'kiesparametersview' %}"><button class="ui basic button"><i class="icon edit"></i>Bewerk Keuzematrix</button></a>
<div class="ui divider"></div>
<h2 class="ui header">Projecten</h2>
	<a href="{% url 'allprojects' %}"><button class="ui basic button"><i class="icon edit"></i>Projecten overview</button></a><br><br>
	<a href="{% url 'startproject' %}"><button class="ui basic button"><i class="icon plus"></i>Maak project aan</button></a>
<div class="ui divider"></div>
<h2 class="ui header">Gebruikers</h2>
	<a href="{% url 'accoverview' %}"><button class="ui basic button"><i class="icon edit"></i>Gebruikers overview</button></a><br><br>
	<a href="{% url 'acccreate' %}"><button class="ui basic button"><i class="icon plus"></i>Maak gebruiker aan</button></a>
<div class="ui divider"></div>
<h2 class="ui header">Analyse</h2>
	<a href="{% url 'projectheatmap' %}"><button class="ui basic button"><i class="icon edit"></i>Project Heatmap</button></a><br><br>
<div class="ui divider"></div>

<!-- Manually generate pve -->
<!-- Edit PvE workbook and keuzeparameters -->
<!-- account configurations (view, add account, delete account etc) -->
<!-- project configurations (list all, delete, add, edit etc) -->
<!-- Future: analytics dashboard -->
</div>

{% endblock %}
