{% extends "layout.html" %} {% load semanticui %} {% block main %}
<h1 class="ui header center aligned">Projecten</h1>
<a href="{% url 'dashboard' %}"><input type="button" class="ui primary button d-inline" value="< Dashboard" /></a>
<br><br>
{% if projects %}
<div>
	<table class="ui fixed multiple line blue table">
		<thead>
			<tr>
				<th>
					Project
				</th>
				<th>
					Fase
				</th>
			</tr>
		</thead>
		<tbody>
				{% for project in projects %}
				<tr>
                    <td> 
					<a href="{% url 'projectview' project.id %}">{{ project.naam }}</a> &nbsp; 
                    </td>
                    <td> 
                        {{ project.statuscontract }}
                    </td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
{% else %}
<p>Nog geen projecten</p>
{% endif %}
{% block modal %}{% endblock %} 
{% endblock %}