{% extends "PVEListHfst.html" %}

{% load semanticui %}

{% load filename %}

{% block main %}
<input type="button" class="ui primary button d-inline" onclick="javascript:window.location='{% url 'pvebewerkoverview' versie_pk %}'" value="< PvE Overview" />
<h1 class="ui header">Genereer afwijkingenlijst</h1>
<div class="ui divider"></div>
<div>
	<a href="{% url 'compareform' versie_pk 1 %}"><button class="ui basic button"><i class="icon edit"></i>Op Bouwsoort</button></a><br><br>
	<a href="{% url 'compareform' versie_pk 2 %}"><button class="ui basic button"><i class="icon edit"></i>Op Type Object</button></a><br><br>
	<a href="{% url 'compareform' versie_pk 3 %}"><button class="ui basic button"><i class="icon edit"></i>Op Doelgroep</button></a>
<div class="ui divider"></div>
</div>

{% endblock %}
