{% extends "PVEListHfst.html" %}

{% load semanticui %}

{% load filename %}

{% block main %}

<h1 class="ui header">Dashboard</h1>
<i>{{ greeting }}, {{ request.user.username }}.</i>
<div class="ui divider"></div>
{% if request.user.type_user == 'OG' %}
<!-- Start project -->
<a href="{% url 'startproject' %}"><button class="ui basic button">Start Project</button></a>
<div class="ui divider"></div>
{% endif %}
{% if projects %}
<div>
	<table class="ui fixed multiple line blue table">
		<thead>
			<tr>
				<th>
				  Mijn projecten
				</th>
			</tr>
		</thead>
		<tbody>
				{% for project in projects %}
				<tr>
				<td> 
					<a href="{% url 'projectview' project.id %}">{{ project.naam }}</a>
				</td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
</div>

{% endblock %}
