{% extends "layout.html" %} {% load semanticui %} {% block main %}
<h1 class="ui header center aligned">Bewerk Keuzematrix</h1>
{% if bouwsoorten %}
<input type="button" class="ui primary button d-inline" onclick="window.location.href='{% url 'kiesparametersview' %}';" value="< Klaar" />
<br><br>
<div>
	<table class="ui fixed multiple line blue table">
		<thead>
			<tr>
				<th>
				  Bouwsoorten
					<div class="d-inline" style="float: right;">
					<span class="float right"><a href="{% url 'addkiesparameter' 1 %}"><button class="ui icon green button"><i class="icon plus"></i></button></a></span>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
				{% for bouwsoort in bouwsoorten %}
				<tr>
				<td> 
					{{ bouwsoort.parameter }}
					<div class="d-inline" style="float: right;">
					<a href="{% url 'kiesparameteredit' 1 bouwsoort.id %}"><button class="ui icon basic button"><i class="icon edit"></i></button></a>
					</div>
				</td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
{% else %}
<p>Nog geen bouwsoorten!</p>
<div class="d-inline" style="float: left;">
	<span class="float right"><a href="{% url 'addkiesparameter' 1 %}"><button class="ui icon green button"><i class="icon plus"></i></button></a></span>
					</div>
{% endif %}
{% if typeObjecten %}
<div>
	<table class="ui fixed multiple line blue table">
		<thead>
			<tr>
				<th>
				  Type Objecten
					<div class="d-inline" style="float: right;">
					<span class="float right"><a href="{% url 'addkiesparameter' 2 %}"><button class="ui icon green button"><i class="icon plus"></i></button></a></span>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
				{% for typeObject in typeObjecten %}
				<tr>
				<td> 
					{{ typeObject.parameter }}
					<div class="d-inline" style="float: right;">
					<a href="{% url 'kiesparameteredit' 2 typeObject.id %}"><button class="ui icon basic button"><i class="icon edit"></i></button></a>
					</div>
				</td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
{% else %}
<p>Nog geen type objecten!</p>
<div class="d-inline" style="float: left;">
	<span class="float right"><a href="{% url 'addkiesparameter' 2 %}"><button class="ui icon green button"><i class="icon plus"></i></button></a></span>
					</div>
{% endif %}
{% if doelgroepen %}
<div>
	<table class="ui fixed multiple line blue table">
		<thead>
			<tr>
				<th>
				  Doelgroepen
					<div class="d-inline" style="float: right;">
					<span class="float right"><a href="{% url 'addkiesparameter' 3 %}"><button class="ui icon green button"><i class="icon plus"></i></button></a></span>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
				{% for doelgroep in doelgroepen %}
				<tr>
				<td> 
					{{ doelgroep.parameter }}
					<div class="d-inline" style="float: right;">
					<a href="{% url 'kiesparameteredit' 3 doelgroep.id %}"><button class="ui icon basic button"><i class="icon edit"></i></button></a>
					</div>
				</td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
{% else %}
<p>Nog geen doelgroepen!</p>
<div class="d-inline" style="float: left;">
	<span class="float right"><a href="{% url 'addkiesparameter' 3 %}"><button class="ui icon green button"><i class="icon plus"></i></button></a></span>
					</div>
{% endif %}
{% block modal %}{% endblock %} 
{% endblock %}