{% extends "layout.html" %} {% load semanticui %} {% block main %}
<h1 class="ui header center aligned">Bewerk Keuzematrix</h1>
{% if bouwsoorten %}
<input type="button" class="ui primary button d-inline" onclick="javascript:window.location='{% url 'kiesparametersview' versie_pk %}';" value="< Klaar" />
<br><br>
<div>
	<table class="ui fixed multiple line blue table">
		<thead>
			<tr>
				<th>
				  Bouwsoorten
				</th>
			</tr>
		</thead>
		<tbody>
				{% for bouwsoort in bouwsoorten %}
				<tr>
				<td> 
					{{ bouwsoort.parameter }}
					<div class="d-inline" style="float: right;">
					<span><a href="{% url 'kiesparameterdelete' versie_pk 1 bouwsoort.id %}"><button class="ui icon basic red button"><i class="icon trash alternate outline"></i></button></a></span>
					</div>
				</td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
{% else %}
<p>Nog geen bouwsoorten!</p>
<div class="d-inline" style="float: left;">
	<span class="float right"><a href="{% url 'addkiesparameter' versie_pk 1 %}"><button class="ui icon green button"><i class="icon plus"></i></button></a></span>
					</div>
{% endif %}
{% if typeObjecten %}
<div>
	<table class="ui fixed multiple line blue table">
		<thead>
			<tr>
				<th>
				  Type Objecten
				</th>
			</tr>
		</thead>
		<tbody>
				{% for typeObject in typeObjecten %}
				<tr>
				<td> 
					{{ typeObject.parameter }}
					<div class="d-inline" style="float: right;">
					<span><a href="{% url 'kiesparameterdelete' versie_pk 2 typeObject.id %}"><button class="ui icon basic red button"><i class="icon trash alternate outline"></i></button></a></span>
					</div>
				</td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
{% else %}
<p>Nog geen type objecten!</p>
<div class="d-inline" style="float: left;">
	<span class="float right"><a href="{% url 'addkiesparameter' versie_pk 2 %}"><button class="ui icon green button"><i class="icon plus"></i></button></a></span>
					</div>
{% endif %}
{% if doelgroepen %}
<div>
	<table class="ui fixed multiple line blue table">
		<thead>
			<tr>
				<th>
				  Doelgroepen
				</th>
			</tr>
		</thead>
		<tbody>
				{% for doelgroep in doelgroepen %}
				<tr>
				<td> 
					{{ doelgroep.parameter }}
					<div class="d-inline" style="float: right;">
					<span><a href="{% url 'kiesparameterdelete' versie_pk 3 doelgroep.id %}"><button class="ui icon basic red button"><i class="icon trash alternate outline"></i></button></a></span>
					</div>
				</td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
{% else %}
<p>Nog geen doelgroepen!</p>
<div class="d-inline" style="float: left;">
	<span class="float right"><a href="{% url 'addkiesparameter' versie_pk 3 %}"><button class="ui icon green button"><i class="icon plus"></i></button></a></span>
					</div>
{% endif %}
{% block modal %}{% endblock %} 
{% endblock %}