{% extends "layout.html" %}

{% load semanticui %}

{% block main %}
<a href="{% url 'projectview' project_id %}"><input type="button" class="ui primary button d-inline" value="< Project" /></a>
<h1 class="ui header">Zoek PvE item</h1>
<i>Vul een deel in van de regel waar u een opmerking aan wil toevoegen.</i>
<div class="ui divider"></div>
<form action="{% url 'searchpveitem' project_id %}" class="ui form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% render_form form %}
    <button type="submit" class="ui primary button" value="generate">Zoek</button>
</form>
{% endblock %}
