{% extends "layout.html" %} 
{% load semanticui %} 

{% block main %}
<h1 class="ui header center aligned">Resultaten</h1>
<a href="{% url 'searchpveitem' project_id %}"><input type="button" class="ui primary button d-inline" value="< Zoeken" /></a>
<br><br>
{% if items %}
<div>
	<table class="ui fixed multiple line blue table">
		<thead>
			<tr>
				<th>
					Item
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody>
				{% for item in items %}
				<tr>
                    <td> 
                        {{ item.inhoud }}
                    </td>
                    <td> 
					<a href="{% url 'addannotation' project_id item.id %}">Geef Opmerking</a> &nbsp; 
                    </td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
{% else %}
<p>Geen items gevonden, vul precies een deel in van de inhoud van een item.</p>
{% endif %}

{% endblock %}

{% block modal %}

{% endblock %}