{% extends "PVEItemList.html" %}

{% load semanticui %}

{% load filename %}

{% block modal %}
<div class="ui long modal">
  <div class="header">
    PvE Itemnummer {{ PVEItem.id }} <span class="float right" style="float: right;"><a href="{% url 'edititem' PVEItem.id %}"><button class="ui basic button"><i class="icon edit"></i>Bewerk</button></a></span>
  </div>
  <div class="very padded description" style="margin-left: 3em; margin-right: 3em; margin-top: 1em; margin-bottom: 1em; "> 
    <h3 class="ui header">Inhoud</h3>
    <p style="word-wrap: break-word;">{{ PVEItem.inhoud|linebreaks }}</p>
    <div class="ui divider"></div>
    <h3 class="ui header">Bijlage</h3>
    {% if PVEItem.bijlage %}
    <span><a href="{{ PVEItem.bijlage.url }}" download="{{ PVEItem.bijlage }}"><button class="ui basic button"><i class="icon download"></i>{{ PVEItem.bijlage|filename }}</button></a></span>
    {% elif PVEItem.bijlage == false %}
    <p>Geen bijlage bij deze regel.<p>
    {% else %}
    <p>Geen bijlage bij deze regel.<p>
    {% endif %}

    <div class="ui divider"></div>
    <h3 class="ui header">Parameters</h3>
    {% if PVEItem.basisregel %}
      <p><b>Deze regel is een BASIS-regel en behoort altijd tot het PvE.</b></p>
    {% else %}
    {% if Bouwsoort %}<p><b>Bouwsoorten:</b> {% for item in Bouwsoort %}{{ item }}, {% endfor %}</p>{% endif %}
    {% if TypeObject %}<p><b>Type Objecten:</b> {% for item in TypeObject %}{{ item }}, {% endfor %}</p>{% endif %}
    {% if Doelgroep %}<p><b>Doelgroepen:</b> {% for item in Doelgroep %}{{ item }}, {% endfor %}</p>{% endif %}
    <p>{% if PVEItem.Smarthome %}<b>Smarthome:</b> <i class="icon check"></i>,{% endif %}
      {% if PVEItem.AED %}<b>AED:</b> <i class="icon check"></i>,{% endif %}
      {% if PVEItem.EntreeUpgrade %}<b>Entree Upgrade:</b> <i class="icon check"></i>,{% endif %}
      {% if PVEItem.Pakketdient %}<b>Pakketdient:</b> <i class="icon check"></i>,{% endif %}
      {% if PVEItem.JamesConcept %}<b>James Concept:</b> <i class="icon check"></i>,{% endif %}</p>
    {% endif %}
  </div>
  <div class="actions" style="margin-bottom: 1em;">
    <span><a href="{% url 'deleteitem' PVEItem.id %}"><button class="ui basic red button"><i class="icon trash alternate outline"></i>Verwijder</button></a></span>
    <span class="float right"><a href="{% url 'itemlistview' hoofdstuk_id paragraaf_id %}"><button class="ui green button"><i class="icon check"></i>Gereed</button></a></span>
  </div>
</div>
</div>
{% endblock %}
