{% extends "layout.html" %} {% load semanticui %} {% block main %}
{% if paragraaf_id == 0 %}
<div class="ui big breadcrumb">
  <a class="section" href="{% url 'sectionview' %}">Overzicht</a>
  <i class="right chevron icon divider"></i>
  <a class="active section">{{ hoofdstuk }}</a>
</div>
{% else %}
<div class="ui big breadcrumb">
  <a class="section" href="{% url 'sectionview' %}">Overzicht</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'viewParagraaf' hoofdstuk_id %}">{{ hoofdstuk }}</a>
	<i class="right chevron icon divider"></i>
  <a class="active section">{{ paragraaf }}</a>
</div>
{% endif %}
<br><br>
{% if queryset %}
<input type="button" class="ui primary button d-inline" onclick="window.location.href='{% url 'itemlistview' hoofdstuk_id paragraaf_id %}';" value="< Klaar" />
<br><br>
<div>
	<table class="ui fixed blue table" style="overflow:hidden;">
		<thead>
			<tr>
				<th>
					Regels
				</th>
        <th><div class="d-inline" style="float: right;">
					<span class="float right"><a href="{% url 'additem' hoofdstuk_id paragraaf_id %}"><button class="ui green button"><i class="icon plus"></i></button></a></span>
        					</div></th>
			</tr>
		</thead>
		<tbody>
      {% for item in queryset %}
			<tr>
				<td>{{ item.inhoud|linebreaks }}</td>
        <td>
					<div class="d-inline" style="float: right;">
						<a href="{% url 'edititem' item.id %}"><button class="ui basic button"><i class="icon edit"></i></button></a>										
				</td>
			</tr>
      {% endfor %}
		</tbody>
	</table>
</div>{% else %}
<p>Geen regels in deze sectie! <input class="ui primary button d-inline" onclick="window.location.href='{% url 'additem' hoofdstuk_id paragraaf_id %}';" type="button" value="Voeg er een toe"></p>{% endif %}

{% block modal %}{% endblock %}

{% endblock %}