{% extends "layout.html" %} {% load semanticui %} {% block main %}
{% if paragraaf_id == 0 %}
<div class="ui big breadcrumb">
  <a class="section" href="{% url 'hoofdstukview' versie_pk %}">Overzicht</a>
  <i class="right chevron icon divider"></i>
  <a class="active section">{{ hoofdstuk }}</a>
</div>
{% else %}
<div class="ui big breadcrumb">
  <a class="section" href="{% url 'hoofdstukview' versie_pk %}">Overzicht</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'viewParagraaf' versie_pk hoofdstuk_id %}">{{ hoofdstuk }}</a>
	<i class="right chevron icon divider"></i>
  <a class="active section">{{ paragraaf }}</a>
</div>
{% endif %}
<br><br>
{% if queryset %}
<input type="button" class="ui primary button d-inline" onclick="window.location.href='{% url 'itemlistview' versie_pk hoofdstuk_id paragraaf_id %}';" value="< Klaar" />
<br><br>
<div>
	<table class="ui fixed blue table" style="overflow:hidden;">
		<thead>
			<tr>
				<th>
					Regels
				</th>
        <th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
      {% for item in queryset %}
			<tr>
				<td>{{ item.inhoud|linebreaks }}</td>
        <td>
					<div class="d-inline" style="float: right;">
						<span><a href="{% url 'deleteitem' versie_pk item.id %}"><button class="ui icon basic red button"><i class="icon trash alternate outline"></i></button></a></span>
	        					</div>										
				</td>
			</tr>
      {% endfor %}
		</tbody>
	</table>
</div>{% else %}
<p>Geen regels in deze sectie! <input class="ui primary button d-inline" onclick="window.location.href='{% url 'additem' versie_pk hoofdstuk_id paragraaf_id %}';" type="button" value="Voeg er een toe"></p>{% endif %}

{% block modal %}{% endblock %}

{% endblock %}