{% extends "layout.html" %} {% load semanticui %} {% block main %}
<h1 class="ui header center aligned">Bewerk Programma van Eisen</h1>
{% if onderdelen %}
<div class="d-inline" style="float: left;">
	<a href="{% url 'sectionviewedit' %}"><button class="ui basic button"><i class="icon edit"></i></button></a>
	<a href="{% url 'worksheetdownload' %}"><button class="ui basic button"><i class="icon download"></i>Download Worksheet</button></a>
</div>
<div class="d-inline" style="float: right;">
	<span><a href="{% url 'sectionviewdelete' %}"><button class="ui basic red button"><i class="icon trash alternate outline"></i></button></a></span>
</div>
<br><br>
<div>
	{% for key, queryset in SectionQuerySets %}
	<table class="ui fixed multiple line blue table">
		<thead>
			<tr>
				<th>
					{{ key.naam }} <!-- PVEHfst -->
					<div class="d-inline" style="float: right;">
					<span class="float right"><a href="{% url 'addchapter' key.id %}"><button class="ui green button"><i class="icon plus"></i></button></a></span>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
        {% if queryset %}
				{% for item in queryset %}
				<tr>
				<td> 
					<a href="{% url 'viewParagraaf' item.id %}">{{ item.hoofdstuk}}</a> &nbsp; 
					<div class="d-inline" style="float: right;">
						<input class="ui primary button d-inline" onclick="window.location.href='{% url 'viewParagraaf' item.id %}';" type="button" value="Open">
					</div>
				</td>
				</tr>
				{% endfor %}
        {% else %}
				<tr>
        <td>Nog geen hoofdstukken.</td>
				</tr>
        {% endif %}
		</tbody>
	</table>
	{% endfor %}
	<div class="ui divider"></div>
	<div style="float: center;">
	<a href="{% url 'addsection' %}"><button class="ui green button"><i class="icon plus"></i>Voeg onderdeel toe</button></a>
	</div>
{% else %}
<p>Nog geen PVE onderdelen!</p>
<div class="d-inline" style="float: left;">
	<span class="float right"><a href="{% url 'addsection' %}"><button class="ui green button"><i class="icon plus"></i>Voeg onderdeel toe</button></a></span>
					</div>
{% endif %}
{% block modal %}{% endblock %} 
{% endblock %}