{% extends "layout.html" %} 
{% load semanticui %} 

{% block main %}
<h1 class="ui header center aligned">PvE Opmerkingen</h1>
<a href="{% url 'projectview' project_id %}"><input type="button" class="ui primary button d-inline" value="< Project" /></a>
<div class="d-inline" style="float: right;">
	<span class="float right">
		<h3 class="ui header">Totale kosten:</h3>
		<div class="ui labeled input">
		<div class="ui blue label">
			&euro;
		</div>
			<div class="ui label">{{ totale_kosten }}</div>
		</div>
	</span>
</div>
<br><br><br>
{% if annotations %}
<div>
	<table class="ui fixed multiple line blue table">
		<thead>
			<tr>
				<th>
					Item
				</th>
				<th>
					Opmerking
				</th>
			</tr>
		</thead>
		<tbody>
				{% for annotation in annotations %}
				<tr>
                    <td> 
					<a href="{% url 'viewitemannotations' project_id annotation.item.id %}">{% if annotation.item.inhoud|length > 100 %}{{ annotation.item.inhoud|slice:":100" }}...{% else %}{{ annotation.item.inhoud }}{% endif %}</a> &nbsp; 
                    </td>
                    <td> 
                        <i>"{{ annotation.annotation }}"</i><br>
						-{{ annotation.gebruiker }}, {{ annotation.datum }}
                    </td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
{% else %}
<p>Nog geen opmerkingen op het Programma van Eisen.</p>
{% endif %}
{% block modal %}

{% endblock %}
{% endblock %}

