{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block main %}
<div class="invite-container">
    <div class="box">
        <p class="title">Uitnodiging voor opmerkingschecken voor project {{ project.name }}</p>
        <p class="description">Registreer een account, en u wordt doorgewezen naar de project pagina waar u de opmerkingen kan accepteren of checken.</p>
    <form action="{% url 'acceptcommentcheck_syn' client_pk key %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
            <label for="{{ form.username.id_for_label }}">Gebruikersname:</label>
            <p class="formbox">{{ form.username }}</p>
            <label for="{{ form.password1.id_for_label }}">Wachtwoord:</label>
            <p class="formbox">{{ form.password1 }}</p>
            <label for="{{ form.password2.id_for_label }}">Herhaal wachtwoord:</label>
            <p class="formbox">{{ form.password2 }}</p>
            <input type="submit" class="button" value="Registreer">
        </form>    
    </div>
</div>

{% endblock %}