{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}
{% load i18n %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}

{% block main %}
<div class="ui breadcrumb" style="margin-bottom:3vh;">
<a class="section" href="{% url 'dashboard_syn' client_pk %}">Dashboard</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Projecten</div>
</div>




<div class="opmerking_project_list">
  <div class="general_title"><img src="{% static 'pvetool/svg/map-blue-big.svg' %}" class="title_img"></img>
    <p>Projecten <a href="{% url 'plusproject_syn' client_pk %}"><button class="ui icon green button"><i class="icon plus"></i>Start Project</button></a></p> </div>

<div class="ui top attached tabular menu">
  <a class="item active" data-tab="todo_projects">TODO Projecten</a>
  <a class="item" data-tab="ready_projects">Ready Projecten</a>
</div>

<div class="ui bottom attached tab segment active" data-tab="todo_projects">
  <input type="text" class="searchable_table_input" id="myInput1" onkeyup="searchableLookup1()" placeholder="Zoek op project.." title="Typ een project in">
  <div class="base_info_table">
    <table id="myTable1">
    <tbody>
        <tr class="table_title">
          <th><p>Project</p></th>
          <th><p>Laatste Verandering</p></th>
          <th><p>Locatie</p></th>
          <th><p>Aantal VHE</p></th>
          <th><p>Fase</p></th>
          <th><p>Projectmanager</p></th>
          <th><p>Stakeholders</p></th>
          <th><p>PvE</p></th>
        </tr>
        {% if new_projecten %}
            {% for project in new_projecten %}
        <tr class="table_content">
          <td><p><a href="{% url 'viewproject_syn' client_pk project.id %}"><button class="ui basic button">{{ project.name }}<i class="right arrow icon"></i></button></a></p></td>
          {% language 'nl' %}
          <td><p>{{ project.date_recent_verandering }}</p></td>
          {% endlanguage %}
          <td><p>{{ project.plaatsnamen }}</p></td>
          <td><p>{{ project.vhe }}</p></td>
          <td><p>{{ project.statuscontract }}</p></td>
            <td>
            <p>{% include 'partials/projectmanager_detail.html' %}</p></td>
            <td>
            <p>{% include 'partials/projectpartijen_detail.html' %}</p></td>
              <td><p>{% if project.pveconnected %}<a href="{% url 'download_pve_syn' client_pk project.id %}"><img class="img" src="{% static 'pvetool/svg/download-blue-big.svg' %}"></img></a>{% else %}<a href="{% url 'kiespveversie' client_pk project.id %}"><button class="ui icon basic button"><i class="icon plus"></i>Verbind PvE</button></a>{% endif %}</p></td>
              <td>
              <span><button hx-post="{% url 'deleteproject' client_pk project.id %}"
                      hx-target="closest tr"
                      hx-swap="outerHTML"
          hx-prompt="Vul 'VERWIJDEREN' in om project {{ project.name }} te verwijderen."
          class="ui icon basic red button"><i data-feather="x" style="stroke: red;"></i></button></span>

              </td>
        </tr>
        {% endfor %}
            {% else %}
            <tr class="table_content">
              <td><p>
              <i>Nog geen projecten toegevoegd.</i>
              </p></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            {% endif %}
    </tbody>
    </table>
  </div>
</div>

<div class="ui bottom attached tab segment" data-tab="ready_projects">
  <input type="text" class="searchable_table_input" id="myInput2" onkeyup="searchableLookup2()" placeholder="Zoek op project.." title="Typ een project in">
  <div class="base_info_table">
    <table id="myTable2">
    <tbody>
      <tr class="table_title">
        <th><p>Project</p></th>
        <th><p>Laatste Verandering</p></th>
        <th><p>Locatie</p></th>
        <th><p>Aantal VHE</p></th>
        <th><p>Fase</p></th>
        <th><p>Projectmanager</p></th>
        <th><p>Stakeholders</p></th>
        <th><p>PvE</p></th>
      </tr>
      {% if old_projecten %}
          {% for project in old_projecten %}
      <tr class="table_content">
        <td><p><a href="{% url 'viewproject_syn' client_pk project.id %}"><button class="ui basic button">{{ project.name }}<i class="right arrow icon"></i></button></a></p></td>
                  {% language 'nl' %}
        <td><p>{{ project.date_recent_verandering }}</p></td>
        {% endlanguage %}
        <td><p>{{ project.plaatsnamen }}</p></td>
        <td><p>{{ project.vhe }}</p></td>
        <td><p>{{ project.statuscontract }}</p></td>
          <td>
          <p>{% include 'partials/projectmanager_detail.html' %}</p></td>
          <td>
          <p>{% include 'partials/projectpartijen_detail.html' %}</p></td>
            <td><p>{% if project.pveconnected %}<a href="{% url 'download_pve_syn' client_pk project.id %}"><img class="img" src="{% static 'pvetool/svg/download-blue-big.svg' %}"></img></a>{% else %}<a href="{% url 'kiespveversie' client_pk project.id %}"><button class="ui icon basic button"><i class="icon plus"></i>Verbind PvE</button></a>{% endif %}</p></td>
                    <td>
              <span><button hx-post="{% url 'deleteproject' client_pk project.id %}"
                      hx-target="closest tr"
                      hx-swap="outerHTML"
          hx-prompt="Vul 'VERWIJDEREN' in om project {{ project.name }} te verwijderen."
          class="ui icon basic red button"><i data-feather="x" style="stroke: red;"></i></button></span>

              </td>

      </tr>
      {% endfor %}
          {% else %}
          <tr class="table_content">
            <td><p>
            <i>Nog geen start-ready projecten.</i>
            </p></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          {% endif %}
    </tbody>
    </table>
  </div>
</div>


</div>
{% endblock %}
{% block modal %}
{% endblock %}
{% block scripts %}
<script>
$('th').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).text() }

function searchableLookup1() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput1");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable1");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

function searchableLookup2() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput2");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable2");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

$('.menu .item')
  .tab()
;
</script>
{% endblock %}