{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}
{% load cache %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}
{% cache 500 sidebar %}

{% block main %}
<div class="ui breadcrumb" style="margin-bottom:3vh;">
<a class="section" href="{% url 'dashboard_syn' client_pk %}">Dashboard</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'viewprojectoverview_syn' client_pk %}">Mijn Projecten</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'viewproject_syn' client_pk project.id %}">Project: {{ project.name }}</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Checklist</div>
</div>

<div class="opmerking_form">

<div class="general_title"><img src="{% static 'pvetool/img/accountsderden.png'%}" class="title_img"></img><p>Checklist (Huidige reactielaag: {{ commentphase.level }}) (Huidig kostenverschil: &#8364;{{ totale_kosten }})<input type="submit" class="submit_button" onClick="javascript:location.href='{% url 'sendreplies_syn' client_pk project.id %}';" value="Stuur door >"></input>
</p></div>

<div class="ui top attached tabular menu">
  <a class="item active" data-tab="todo_comments">Status nog aan te wijzen ({{ todo_replies.count }} / {{ todo_comments.count }})</a>
  <a class="item" data-tab="non_accepted_comments">Gewijzigde regels ({{ non_accepted_replies.count }} / {{ non_accepted_comments.count }})</a>
  <a class="item" data-tab="accepted_comments">Geaccepteerde regels ({{ accepted_replies.count }} / {{ accepted_comments.count }})</a>
</div>

<div class="ui bottom attached tab segment active" data-tab="todo_comments">
{% if chapters_todo %}
<div class="titel_plusopmerking"><div class="left">Regel</div><div class="right">Status<popup-notify><span slot="message"><p>De status, opgevolgd door de opmerkingen op de regel en op elkaar. Mits er attachments zijn toegevoegd, zijn deze downloadbaar hierna. "Nieuwe Status" betekent dat de status veranderd is bij de laatste check.</p></span></popup-notify></div><div class="right">Kosten</div></div>
<div class="item_opmerking_list">
{% for key, value in chapters_todo.items %}
{% if value %}
    <button type="button" hx-get="{% url 'getparagraphspingpong' client_pk project.id key.id 0 0 %}" 
    hx-target="#chapter_content-0-{{ key.id }}" hx-swap="innerHTML" hx-trigger="click once" class="chapter">
    <p>{{ key.chapter }} <i><span>({{ todo_hfst_replies|get_item:key.id }} / {{ todo_hfst_count|get_item:key.id }})</i></span><img class="arrow-down" src="{% static 'pvetool/svg/ArrowDown.svg' %}"></img>
    <img class="arrow-up" src="{% static 'pvetool/svg/ArrowUp.svg' %}"></img></p></button>
{% else %}
    <button type="button" hx-get="{% url 'getitemspingpong' client_pk project.id key.id 0 0 0 %}" 
    hx-target="#chapter_content-0-{{ key.id }}" hx-swap="innerHTML" hx-trigger="click once" class="chapter">
    <p>{{ key.chapter }} <i><span>({{ todo_hfst_replies|get_item:key.id }} / {{ todo_hfst_count|get_item:key.id }})</i></span><img class="arrow-down" src="{% static 'pvetool/svg/ArrowDown.svg' %}"></img>
    <img class="arrow-up" src="{% static 'pvetool/svg/ArrowUp.svg' %}"></img></p></button>
{% endif %}
    <div class="chapter_content" id="chapter_content-0-{{ key.id }}">
    </div>
{% endfor %}
</div>
{% else %}
<i>Alle PvE regels hebben al een status.</i>
{% endif %}
</div>

<div class="ui bottom attached tab segment" data-tab="non_accepted_comments">
{% if chapters_non_accept %}
<div class="titel_plusopmerking"><div class="left">Regel</div><div class="right">Status<popup-notify><span slot="message"><p>De status, opgevolgd door de opmerkingen op de regel en op elkaar. Mits er attachments zijn toegevoegd, zijn deze downloadbaar hierna. "Nieuwe Status" betekent dat de status veranderd is bij de laatste check.</p></span></popup-notify></div><div class="right">Akkoord</div><div class="right">Kosten</div></div>
<div class="item_opmerking_list">
{% for key, value in chapters_non_accept.items %}
{% if value %}
    <button type="button" hx-get="{% url 'getparagraphspingpong' client_pk project.id key.id 1 1 %}" 
    hx-target="#chapter_content-1-{{ key.id }}" hx-swap="innerHTML" hx-trigger="click once" class="chapter"><p>{{ key.chapter }} <i><span>({{ non_accepted_hfst_replies|get_item:key.id }} / {{ non_accepted_hfst_count|get_item:key.id }})</i></span> <img class="arrow-down" src="{% static 'pvetool/svg/ArrowDown.svg' %}"></img><img class="arrow-up" src="{% static 'pvetool/svg/ArrowUp.svg' %}"></img></p></button>
{% else %}
    <button type="button" hx-get="{% url 'getitemspingpong' client_pk project.id key.id 0 1 1 %}" 
    hx-target="#chapter_content-1-{{ key.id }}" hx-swap="innerHTML" hx-trigger="click once" class="chapter"><p>{{ key.chapter }} <i><span>({{ non_accepted_hfst_replies|get_item:key.id }} / {{ non_accepted_hfst_count|get_item:key.id }})</i></span> <img class="arrow-down" src="{% static 'pvetool/svg/ArrowDown.svg' %}"></img><img class="arrow-up" src="{% static 'pvetool/svg/ArrowUp.svg' %}"></img></p></button>
{% endif %}
    <div class="chapter_content" id="chapter_content-1-{{ key.id }}">
    </div>
{% endfor %}
</div>
{% else %}
<i>Alle regels zijn akkoord mee gegaan.</i>
{% endif %}
</div>
<div class="ui bottom attached tab segment" data-tab="accepted_comments">
{% if chapters_accept %}
<div class="titel_plusopmerking"><div class="left">Regel</div><div class="right">Status<popup-notify><span slot="message"><p>De status, opgevolgd door de opmerkingen op de regel en op elkaar. Mits er attachments zijn toegevoegd, zijn deze downloadbaar hierna. "Nieuwe Status" betekent dat de status veranderd is bij de laatste check.</p></span></popup-notify></div><div class="right">Akkoord</div><div class="right">Kosten</div></div>
<div class="item_opmerking_list">

{% for key, value in chapters_accept.items %}
{% if value %}
    <button type="button" hx-get="{% url 'getparagraphspingpong' client_pk project.id key.id 2 1 %}" 
    hx-target="#chapter_content-2-{{ key.id }}" hx-swap="innerHTML" hx-trigger="click once" class="chapter">
    <p>{{ key.chapter }} <i><span>({{ accepted_hfst_replies|get_item:key.id }} / {{ accepted_hfst_count|get_item:key.id }})</i></span> <img class="arrow-down" src="{% static 'pvetool/svg/ArrowDown.svg' %}"></img><img class="arrow-up" src="{% static 'pvetool/svg/ArrowUp.svg' %}"></img></p></button>
{% else %}
    <button type="button" hx-get="{% url 'getitemspingpong' client_pk project.id key.id 0 2 1 %}" 
    hx-target="#chapter_content-2-{{ key.id }}" hx-swap="innerHTML" hx-trigger="click once" class="chapter">
    <p>{{ key.chapter }} <i><span>({{ accepted_hfst_replies|get_item:key.id }} / {{ accepted_hfst_count|get_item:key.id }})</i></span> <img class="arrow-down" src="{% static 'pvetool/svg/ArrowDown.svg' %}"></img><img class="arrow-up" src="{% static 'pvetool/svg/ArrowUp.svg' %}"></img></p></button>
{% endif %}
    <div class="chapter_content" id="chapter_content-2-{{ key.id }}">
    </div>
{% endfor %}
</div>
{% else %}
<i>Nog geen PvE regels zijn akkoord mee gegaan.</i>
{% endif %}
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
var coll = document.getElementsByClassName("chapter");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

var coll2 = document.getElementsByClassName("paragraph");
var i;

for (i = 0; i < coll2.length; i++) {
  coll2[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

$('.leavecomment').click(function(e){
      e.preventDefault();
      $(this).next().show();
});

$('.menu .item')
  .tab()
;

function toggleShowInput(id, el) {
	show_div = document.getElementsByClassName("showaccept-" + id);
  console.log(el.value)
  
  for (i = 0; i < show_div.length; i++) {
    if (el.value === "False") {
      show_div[i].style.display = "block"
    } else {
      show_div[i].style.display = "none"
    }
  }
};

window.addEventListener("load",function(){
    select_elements = document.getElementsByClassName("select_accept");
    
    for (i = 0; i < select_elements.length; i++) {
      accepted = select_elements[i].value
      id = select_elements[i].id.split("_")[2]
	    show_div = document.getElementsByClassName("showaccept-" + id);

      for (j = 0; j < show_div.length; j++) {
        if (accepted === "False") {
          show_div[j].style.display = "block"
        } else {
          show_div[j].style.display = "none"
        }
      }
    }

},false);
</script>

{% include 'partials/messages.html' %}
{% endblock %}

{% endcache %}
