{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}

{% block main %}
<form class="opmerking_form">
{% csrf_token %}

<div class="general_title"><img src="{% static 'pvetool/img/accountsderden.png'%}" class="title_img"></img><p>Veelgestelde vragen</p></div>

{% if faqquery %}
<div class="item_opmerking_list">
{% for faq in faqquery %}
    <button type="button" class="hoofdstuk">{{ faq.vraag }} <img class="arrow-down" src="{% static 'pvetool/svg/ArrowDown.svg' %}"></img><img class="arrow-up" src="{% static 'pvetool/svg/ArrowUp.svg' %}"></img></button>
    <div class="hoofdstuk_content">
        <p>{{ faq.antwoord }}</p>
    </div>
{% endfor %}
</div>
{% else %}
<p>Nog geen PVE gekoppeld aan dit project.</p>
{% endif %}
</form>
{% endblock %}

{% block scripts %}
<script>
var coll = document.getElementsByClassName("hoofdstuk");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

</script>
{% endblock %}