{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}

{% block main %}
<div class="ui breadcrumb" style="margin-bottom:3vh;">
<a class="section" href="{% url 'dashboard_syn' client_pk %}">Dashboard</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'viewprojectoverview_syn' client_pk %}">Mijn Projecten</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'viewproject_syn' client_pk project.id %}">Project: {{ project.name }}</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'plusopmerking_syn' client_pk project.id %}">Eerste statusaanwijzing</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Stuur door</div>
</div>

<div class="general_title"><img src="{% static 'pvetool/svg/edit-3-blue-big.svg' %}" class="title_img"></img>
    <p>Doorsturen</p></div>
<div class="invite-container">
    <div class="box">
            <p class="description">Stuur uw eerste statusaanwijzing en afwijkingen door aan de stakeholders om het PvE verder op te merken. 
                Regels waar nog geen status/opmerking aan is toegevoegd worden genoteerd als TODO voor de andere stakeholder.</p>
        <form action="{% url 'firstfreeze_syn' client_pk pk %}" method="post">
            {% csrf_token %}
            <p>
            <label class="formtitle" for="{{ form.confirm.id_for_label }}">Vink aan voor bevestiging.</label></p>
            <p class="formbox">{{ form.confirm }}</p>
            <div><input type="submit" class="button" value="Stuur door"></div>
        </form>    
    </div>
</div>

{% endblock %}