{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}

{% block main %}
<div class="general_title"><img src="{% static 'pvetool/img/accountsderden.png'%}" class="title_img"></img><p>Opmerkingen, project {{ project.name }}</p></div>

<div>
        <table class="frozencomments_list">
        <tr class="table_head">
            <th><img src="{% static 'pvetool/svg/logo.svg' %}" class="syntr_logo"></a></th>
            <th><p>Huidige Status</p></th>
            {% for info in infos %}
                <th><p>{{ info }}e opmerkingslaag</p></th>
            {% endfor %}
        </tr>
        {% for key, value in regels.items %}
        <tr class="table_content">
            <td class="inhoud_box"><p>{{ key }}</p></td>
            {% for comment in value %}
                <td class="voldoening"><p>{% if forloop.counter0 == 0 %}<b>{{ comment }}</b>{% else %}{{ comment }}{% endif %}{% if comment.attachment %}<a href="{% url 'downloadattachmentaanopmerking_syn' client_pk project.id comment.id %}" style="float:right;" target="_blank"><i>Bijlage: </i><button class="ui icon basic button"><i class="icon download"></i></button></a>{% endif %}</p></td>
            {% endfor %}
        </tr>
        {% endfor %}
        </table>
    </div>
</div>

{% endblock %}