{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}

{% block main %}
<div class="general_title"><img src="{% static 'pvetool/img/plusproject.png'%}" class="title_img"></img><p>Start project</p></div>
<div class="invite-container">
    <div class="box">
        <p class="description">Wijs een projectmanager toe aan uw project, en nodig organisaties/derden uit om vervolgens op het PvE te reageren. Iedere user behorend tot een stakeholder krijgt toegang tot het project. Er wordt een e-mail naar iedereen gestuurd behorend tot het project</p>
        <form action="{% url 'addusersproject_syn' client_pk project.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="formtitle" for="{{ form.projectmanager.id_for_label }}">Projectmanager:</label>
            <p class="formbox">{{ form.projectmanager }}</p>
            <label class="formtitle" for="{{ form.organisaties.id_for_label }}">Organisaties (Optioneel):</label>
            <p class="formbox">{{ form.organisaties }}</p>
            <label class="formtitle" for="{{ form.permitted.id_for_label }}">Handmatig Derden Toevoegen:</label>
            <p class="formbox">{{ form.permitted }}</p>        
            <input type="submit" class="button" value="Nodig uit">
        </form>    
    </div>
</div>
{% endblock %}