{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}

{% block main %}
<div class="ui breadcrumb" style="margin-bottom:3vh;">
<a class="section" href="{% url 'dashboard_syn' client_pk %}">Dashboard</a>
  <i class="right chevron icon divider"></i>
<a class="section" href="{% url 'manageprojecten_syn' client_pk %}">Projecten</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">PvE</div>
</div>

<div class="general_title"><img src="{% static 'pvetool/img/plusproject.png'%}" class="title_img"></img><p>Programma van Eisen</p></div>
<div class="invite-container">
    <div class="box">
    {% if qs %}
        <p class="description">Kies de PvE version die u wil verbinden aan het project.</p>
        <form action="{% url 'kiespveversie' client_pk pk %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="formtitle" for="{{ form.pve_versie.id_for_label }}"><p>Versie:</p></label>
            <p class="formbox">{{ form.pve_versie }}</p>
            <input type="submit" class="button" value="Volgende >">
        </form>
    {% else %}   
          <p class="description">Er zijn nog geen actieve PvE versies voor uw stakeholder. Neem contact op met de systeembeheerder.</p> 
      {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    $('[value=""]').remove();
});

</script>
{% endblock %}