<!DOCTYPE html>
{% load semanticui %}{% load static %}
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'pvetool/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pvetool/main_pvetool.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'Semantic-UI-Alert.css' %}">
    <style type="text/css">
      body > .grid {
        height: 100%;
      }
      .image {
        margin-top: -100px;
      }
      .column {
        max-width: 450px;
      }
    </style>
    <title>PvE Tool</title>
  </head>
  <body>
        <div class="loader" style="display: none;"></div>
    <div class="centered_login">
    <div class="login_box">
      <img src="{{ logo_url }}">
      <p>PvE Tool</p>
      <form action="{% url 'login_syn' client_pk %}" class="ui form" method="post">
          {% csrf_token %}
          {% render_form form %}
          <input type="submit" class="login-button" value="Login">
          <p><a href="{% url 'forgotpass' client_pk %}">Wachtwoord vergeten?</a></p>
      </form>
    </div>
  </div>
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'semantic.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'Semantic-UI-Alert.js' %}"></script>
    <script src="{% static 'pvetool/main_pvetool.js' %}"></script>
    <script src="{% static 'pvetool/fadeLogin.js' %}"></script>
      <script>
        {% for message in messages %}
        $(document).ready(function() {
        $.uiAlert({
        textHead: 'Info', // header
        text: '{{ message }}', // Text
        bgcolor: '#55a9ee', // background-color
        textcolor: '#fff', // color
        position: 'top-center',// position . top And bottom ||  left / center / right
        icon: 'info circle', // icon in semantic-UI
        time: 3, // time
          })
        });
        {% endfor %}
      </script>
</body>
</html>