{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}

{% block main %}
<div class="ui breadcrumb" style="margin-bottom:3vh;">
<a class="section" href="{% url 'dashboard_syn' client_pk %}">Dashboard</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Stakeholders</div>
</div>

<div class="opmerking_project_list">
  <div class="general_title"><img src="{% static 'pvetool/svg/layers-blue-big.svg' %}" class="title_img"></img>
    <p>Stakeholders <a href="{% url 'addorganisatie_syn' client_pk %}"><button class="ui icon green button"><i class="icon plus"></i>Maak Stakeholder Aan</button></a></p> </div>
<input type="text" class="searchable_table_input" id="myInput" onkeyup="searchableLookup()" placeholder="Zoek op stakeholder.." title="Typ een stakeholder in">

<div class="base_info_table">
  <table id="myTable">
<tbody>
<tr class="table_title">
          <th><p>Stakeholder</p></th>
          <th><p>Projecten</p></th>
          <th><p>Werknemers</p></th>
          <th><p>Acties</p></th>
        </tr>
        {% if organisaties %}
            {% for stakeholder in organisaties %}
        <tr class="table_content" hx-target="this" hx-swap="outerHTML">
          <td><p>{{ stakeholder.name }}</p></td>
          <td><p>{% if stakeholder.projecten.all %}
            {% for project in stakeholder.projecten.all %}
            <span>{{ project }} <a hx-post="{% url 'organisatieremovefromproject' client_pk stakeholder.id project.id %}" hx-confirm="Weet u het zeker?" hx-target="closest span" hx-swap="outerHTML">
              <i class="icon times"></i></a>,</span>
              {% endfor %}
              {% else %}<i>Geen</i>{% endif %}</p></td>
        <td>
        <p>{% include 'partials/organisatie_detail.html' %}</p></td>
        <td>
              <span><button hx-post="{% url 'deleteorganisatie_syn' client_pk stakeholder.id %}"
                      hx-target="closest tr"
                      hx-swap="outerHTML"
          hx-prompt="Vul 'VERWIJDEREN' in om stakeholder {{ stakeholder.name }} te verwijderen."
          class="ui icon basic red button"><i class="feather-20" data-feather="x" style="stroke: red;"></i></button></span>
              </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr class="table_content">
          <td><p>
          <i>Nog geen stakeholders toegevoegd.</i>
          </p></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        {% endif %}
        <tr>
            <td><p>
            </p></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock %}
{% block modal %}
{% endblock %}
{% block scripts %}
<script>
$('th').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).text() }

function searchableLookup() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

</script>
{% endblock %}