{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}

{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}

{% block main %}
<div class="ui breadcrumb" style="margin-bottom:3vh;">
<a class="section" href="{% url 'dashboard_syn' client_pk %}">Dashboard</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">PvE Overleg</div>
</div>

<div class="opmerking_project_list">
  <div class="general_title"><img src="{% static 'pvetool/svg/edit-3-blue-big.svg' %}" class="title_img"></img>
    <p>Opmerking</p></div>
<div class="main_content_div">
    <table class="project_overview_content">
      <thead>
        <tr class="table_title">
          <th><p>Project</p></th>
          <th><p>Opmerking</p></th>
        </tr>
      </thead>
      <tbody>
        {% if projects %}
            {% for project in projects %}
        <tr class="table_content">
          <td><p>{{ project.name }}</p></td>
          <td class="link"><p>{% if project.frozenLevel == 0 %}<a href="{% url 'plusopmerking_syn' client_pk project.id %}"><img src="{% static 'pvetool/img/plus.png' %}"></img></a>{% else %}<i>Bevroren</i>{% endif %}</p></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td>
          <i>Nog geen projecten van u.</i>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
</div>
</div>
{% endblock %}