{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}


{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}

{% block main %}
<div class="ui breadcrumb" style="margin-bottom:3vh;">
<a class="section" href="{% url 'dashboard_syn' client_pk %}">Dashboard</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'managewerknemers_syn' client_pk %}">Werknemers</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Uitnodigen</div>
</div>
<div class="general_title"><img src="{% static 'pvetool/svg/user-plus-blue-big.svg' %}" class="title_img"></img>
    <p>Account</p></div>
<div class="invite-container">
    <div class="box">
        <p class="description">Voeg een projectmanager toe aan de website, of nodig een derde uit.</p>
        <form action="{% url 'plusaccount_syn' client_pk %}" method="post">
            {% csrf_token %}
            <label class="formtitle" for="{{ form.rang.id_for_label }}"><p>Rang gebruiker:</p></label>
            <p class="formbox">{{ form.rang }}</p>
            <label class="formtitle" for="{{ form.project.id_for_label }}"><p>Voor project (optioneel):</p></label>
            <p class="formbox">{{ form.project }}</p>
            <label class="formtitle" for="{{ form.stakeholder.id_for_label }}"><p>Stakeholder (optioneel):</p></label>
            <p class="formbox">{{ form.stakeholder }}</p>
            <label class="formtitle" for="{{ form.invitee.id_for_label }}"><p>E-mail voor uitnodiging:</p></label>
            <p class="formbox">{{ form.invitee }}</p>        
            <input type="submit" class="button" value="Nodig uit">
        </form>    
    </div>
</div>

{% endblock %}