{% extends "layout_syn.html" %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}
{% load cache %}
{% block menu %}
{% include 'MenuTypes.html' %}
{% endblock %}
{% cache 500 sidebar %}

{% block main %}

<div class="ui breadcrumb" style="margin-bottom:3vh;">
<a class="section" href="{% url 'dashboard_syn' client_pk %}">Dashboard</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'viewprojectoverview_syn' client_pk %}">Mijn Projecten</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="{% url 'viewproject_syn' client_pk project.id %}">Project: {{ project.naam }}</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Eerste statusaanwijzing</div>
</div>

<div class="opmerking_form">
<div class="general_title"><img src="{% static 'pvetool/img/accountsderden.png'%}" class="title_img"></img><p>Eerste statusaanwijzing / Aanvullingen op regels<input type="submit" class="submit_button" onClick="javascript:location.href='{% url 'firstfreeze_syn' client_pk project.id %}';" value="Stuur door >"></input></p></div>
<div style="height:1vh;"></div>

{% if hoofdstukken.items %}
<div class="titel_plusopmerking"><div class="left">Sectie</div><div class="right">Status       <popup-notify><span slot="message"><p>Groen = status is al opgeslagen. Geel = u heeft net een wijziging gemaakt. Rood = nog geen status aangegeven.</p></span></popup-notify></div></div>
<div class="item_opmerking_list">

{% for key, value in hoofdstukken.items %}
{% if value %}
    <button type="button" hx-get="{% url 'getparagravenfirstannotate' client_pk project.id key.id %}" 
    hx-target="#hoofdstuk_content-{{ key.id }}" hx-swap="innerHTML" hx-trigger="click once" class="hoofdstuk">
    <p>{{ key.hoofdstuk }} {% if annotations_hfst|get_item:key.id %}<span><i>({{ annotations_hfst|get_item:key.id }} aanvulling(en))</i></span>{% endif %}
    <img class="arrow-down" src="{% static 'pvetool/svg/ArrowDown.svg' %}"></img>
    <img class="arrow-up" src="{% static 'pvetool/svg/ArrowUp.svg' %}"></img></p></button>
{% else %}
    <button type="button" hx-get="{% url 'getitemsfirstannotate' client_pk project.id key.id 0 %}" 
    hx-target="#hoofdstuk_content-{{ key.id }}" hx-swap="innerHTML" hx-trigger="click once" class="hoofdstuk">
    <p>{{ key.hoofdstuk }} {% if annotations_hfst|get_item:key.id %}<span><i>({{ annotations_hfst|get_item:key.id }} aanvulling(en))</i></span>{% endif %}
    <img class="arrow-down" src="{% static 'pvetool/svg/ArrowDown.svg' %}"></img>
    <img class="arrow-up" src="{% static 'pvetool/svg/ArrowUp.svg' %}"></img></p></button>
{% endif %}
    <div class="hoofdstuk_content" id="hoofdstuk_content-{{ key.id }}">
    </div>
{% endfor %}
</div>

{% else %}
<p>Nog geen PVE gekoppeld aan dit project.</p>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
var coll = document.getElementsByClassName("hoofdstuk");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

var coll2 = document.getElementsByClassName("paragraaf");
var i;

for (i = 0; i < coll2.length; i++) {
  coll2[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

$('.leavecomment').click(function(e){
      e.preventDefault();
      $(this).next().show();
});

</script>
{% endblock %}
{% endcache %}
