{% extends "partials/_base.html" %}
{% load semanticui %}

{% load filename %}


{% block main %}
<form hx-target="this" hx-swap="outerHTML" class="ui form" method="POST" hx-encoding='multipart/form-data' enctype="multipart/form-data">
    {% csrf_token %}
        {{ form }}
        <button hx-post="{% url 'adminpassform' %}" type="submit" class="ui icon green button" style="margin-top: 1em;"><i class="check icon"></i></button>
    </form>  
{% endblock %}

{% block scripts %}
{% include "partials/messages_beheer.html" %}
{% endblock %}