{% extends "partials/_base.html" %}

{% load semanticui %}

{% load filename %}

{% block main %}

<div hx-target="this" hx-swap="outerHTML">
{% if klant.beheerder %}
<p>{{ klant.beheerder }}</p>
<button hx-get="{% url 'beheerderklantform' klant.id %}" class="ui icon basic button"><i class="icon edit"></i></button>
{% else %}
<button hx-get="{% url 'beheerderklantform' klant.id %}" class="ui icon basic button"><i class="icon plus"></i></button>
{% endif %}
</div>

{% endblock %}
{% block scripts %}
{% include "partials/messages_beheer.html" %}
{% endblock %}