{% extends "partials/_base.html" %}


{% load filename %}
{% load i18n %}
{% block main %}
{% language 'nl' %}
<div hx-target="this" hx-swap="outerHTML">
{% if logo_url %}
<img style="max-width: 10vw;" src="{{ logo_url }}"></img>
<button hx-get="{% url 'logoklantform' klant.id %}" class="ui icon basic button"><i class="icon edit"></i></button>
{% else %}
<button hx-get="{% url 'logoklantform' klant.id %}" class="ui icon basic button"><i class="icon plus"></i></button>
{% endif %}
</div>
{% endlanguage %}
{% endblock %}

{% block scripts %}
{% include "partials/messages_beheer.html" %}
{% endblock %}