 
 {% block main %}
 <div style="display: flex; justify-content: space-between;">
          <span class="d-inline" style="float: left;" hx-get="{% url 'getpveversiedetail' item.id %}" hx-trigger="load" hx-swap="outerHTML"></span>
          <span class="d-inline" style="float: right">
            <input
              class="ui primary button d-inline"
              onclick="window.location.href='{% url 'pvebewerkoverview' item.id %}';"
              type="button"
              value="Open"
            />
            <div class="d-inline" hx-get="{% url 'getpveactiviteit' item.id %}" hx-trigger="load" hx-swap="outerHTML"></div>
					  <span><button hx-post="{% url 'deletepveversie' item.belegger.id item.id %}"
                      hx-target="closest tr"
                      hx-swap="outerHTML"
          hx-prompt="Vul 'VERWIJDEREN' in om versie {{ item.versie }} te verwijderen."
          class="ui icon basic red button"><i class="icon trash alternate outline"></i></button></span>
        </span>
        </div>
{% endblock %}

{% block scripts %}
{% include "partials/messages_beheer.html" %}
{% endblock %}