{% block main %}
<span hx-target="this" hx-swap="outerHTML">
{% if annotation.status %}
    <div class="status_added" id="status-{{ item.id }}">
    <p>{{ annotation.status }}
    <span><button hx-get="{% url 'addstatusfirst' client_pk project_pk item_pk %}" class="ui basic icon button"><i class="icon edit"></i></button></span>
        <span><a hx-delete="{% url 'deletestatusfirst' client_pk project_pk item_pk %}" hx-target="#item-{{ item_pk }}" hx-swap="outerHTML"><button class="ui icon basic red button"><i class="icon delete"></i></button></a></span></p>
{% else %}
<span><p><i>Geen status</i></p></span>
    <div class="status_not_added" id="status-{{ item.id }}">
    <button hx-get="{% url 'addstatusfirst' client_pk project_pk item_pk %}" class="ui basic icon button"><i class="icon edit"></i></button>
{% endif %}
</span>
{% endblock %}{% block scripts %}
{% include 'partials/messages.html' %}
{% endblock %}