{% block main %}
<div class="item_deeper" hx-target="this" hx-swap="outerHTML" id="item-{{ item_pk}}">
  <div class="text_left">
    <div
      hx-get="{% url 'detailitempong' client_pk project_pk item_pk type %}"
      hx-swap="outerHTML"
      hx-target="this"
      hx-trigger="load"
    ></div>
    {% if current_reply %}
    <div
      hx-get="{% url 'detailpongreply' client_pk project_pk item_pk type %}"
      hx-swap="outerHTML"
      hx-target="this"
      hx-trigger="load"
    ></div>
     {% else %} {% if type != 2 %}
    <div
      hx-get="{% url 'detailpongreply' client_pk project_pk item_pk type %}"
      hx-swap="outerHTML"
      hx-target="this"
      hx-trigger="load"
    ></div>
    {% endif %} {% endif %}
  </div>
  <div class="text_right">
    <span
      hx-get="{% url 'detailpongstatus' client_pk project_pk item_pk type %}"
      hx-swap="outerHTML"
      hx-target="this"
      hx-trigger="load"
    ></span>
  </div>
  {% if type != 0 %}
    <div class="text_right">
      {% if not current_reply %}
      <span
        hx-get="{% url 'firstacceptsteppong' client_pk project_pk item_pk type %}"
        hx-swap="outerHTML"
        hx-target="this"
        hx-trigger="load"
      ></span>
      {% else %}
      <span
        hx-get="{% url 'redocommentdetail' client_pk project_pk item_pk type %}"
        hx-swap="outerHTML"
        hx-target="this"
        hx-trigger="load"
      >
    </span>
      {% endif %}
    </div>
  {% endif %}
  <div class="text_right">
    <span
    hx-get="{% url 'detailpongkostenverschil' client_pk project_pk item_pk type %}"
    hx-swap="outerHTML"
    hx-target="this"
    hx-trigger="load"
  ></span>
  </div>
</div>

{% endblock %}
