{% block main %}
<span hx-target="this" hx-swap="outerHTML">
  {% if last_reply.consequentCosts %}
  <p>
    <b
      >€{{ last_reply.consequentCosts }}</b
    >
  </p>
  {% elif annotation.consequentCosts %}
  <p><b>€{{ annotation.consequentCosts }}</b></p>
  {% else %}
  <p><b>€ 0</b></p>
  {% endif %} 
  
  {% if current_reply %} {% if current_reply.accept is False %} {% if current_reply.consequentCosts %}
  <p style="color:#b69b00;">
  <b
    >Voorgesteld: €{{ current_reply.consequentCosts }}
    <span
      ><button
        hx-get="{% url 'addkostenverschilpong' client_pk project_pk item_pk type %}"
        class="ui basic icon button"
      >
      <i data-feather="edit-3" style="stroke: #0085B7"></i></button
    ></span>
    <span
      ><a
        hx-delete="{% url 'deletekostenverschilpong' client_pk project_pk item_pk type %}"
        ><button class="ui icon basic red button">
          <i class="icon delete"></i></button></a></span
  ></b>
        </p>
  {% else %}
  {% if annotation.status or current_reply.status %}
  <p>
    <button
      hx-get="{% url 'addkostenverschilpong' client_pk project_pk item_pk type %}"
      class="ui basic icon button"
    >
    <i data-feather="edit-3" style="stroke: #0085B7"></i>
    </button>
  </p>
  {% endif %}
  {% endif %} {% endif %} {% else %} {% if type == 0 %} {% if annotation.status or current_reply.status %}
  <p>
    <button
      hx-get="{% url 'addkostenverschilpong' client_pk project_pk item_pk type %}"
      class="ui basic icon button"
    >
    <i data-feather="edit-3" style="stroke: #0085B7"></i>
    </button>
  </p>
  {% endif %} {% endif %} {% endif %}
</span>
{% include 'partials/_render_icons.html' %}
{% endblock %}
