{% load static %}
{% block main %}
<span hx-target="this" hx-swap="outerHTML">
    {% if annotation.firststatus %}
    <div class="reaction_on_rule">
        <div class="party">
            <p><b>Partij</b></p>
        </div>
        <div class="accept">
            <p><b>Akk.</b></p>
        </div>
        <div class="statuschange">
            <p><b>Status</b></p>
        </div>
        <div class="comment">
            <p><b>Opmerking</b></p>
        </div>
        <div class="attachments">
            <p><b>Bijlagen</b></p>
        </div>
        <div class="costs">
            <p><b>Kosten</b></p>
        </div>

    </div>

    <div class="reaction_on_rule">
        <div class="party">
            <p style="color:#0085B7;"><i>{% if request.user.stakeholder %}{{ request.user.stakeholder }}{% else %}{{ request.user.client }}{% endif %}</i></p>
        </div>
        <div class="accept">
            <p></p>
        </div>
        <div class="statuschange">
            {% if annotation.firststatus %}
            <p style="color:#0085B7;">{{ annotation.firststatus }}</p>
            {% endif %}
        </div>
        <div class="comment">
            {% if annotation.annotation %}
                <span><p style="color:#0085B7;">{{ annotation.annotation }} <span>
                    <button hx-get="{% url 'addannotationfirst' client_pk project_pk item_pk %}" class="ui basic icon button">
                    <i data-feather="edit-3" style="stroke: #0085B7"></i></button></span>
                <span><a hx-delete="{% url 'deleteannotationfirst' client_pk project_pk item_pk %}">
                    <button class="ui icon basic red button"><i data-feather="x" style="stroke: red;"></i>
                </button></a></span></p></span>
            {% elif comment_allowed is True %}
                <button hx-get="{% url 'addannotationfirst' client_pk project_pk item_pk %}" class="ui basic icon button"><i data-feather="plus" style="stroke: #0085B7"></i></button>
            {% endif %}
        </div>
        <div class="attachments">
            <p>
                {% if annotation %}
                {% if attachments %}
                <span style="color:#0085B7;">
                {% for attachment in attachments %}
                {% if attachment.attachment %}
                <a href="{% url 'downloadattachmentaanopmerking_syn' client_pk project_pk annotation.id attachment.id %}" target="_blank">
                    {{ attachment }}<img class="dimg" style="align-self: right; max-height: 1.5vh;" src="{% static 'pvetool/svg/download-blue-big.svg' %}"></img></a>
                <span><button hx-get="{% url 'addattachmentfirst' client_pk project_pk item_pk annotation.id attachment.id %}" class="ui basic icon button">
                    <i data-feather="edit-3" style="stroke: #0085B7"></i></button></span>
                    <span><a hx-delete="{% url 'deleteattachmentfirst' client_pk project_pk annotation.id attachment.id %}"><button class="ui icon basic red button">
                        <i data-feather="x" style="stroke: red;"></i></button></a></span>
            
                {% endif %}
                {% endfor %}
                </span>
                {% endif %}

                {% if attachment_allowed is True %}
                <button hx-get="{% url 'addattachmentfirst' client_pk project_pk item_pk annotation.id 0 %}" class="ui basic icon button">
                    <i data-feather="plus" style="stroke: #0085B7"></i></button>
                {% endif %}

                {% endif %}
            </p>
        </div>
        <div class="costs">
            {% if annotation.consequentCosts %}
            <p style="color:#0085B7;">€ {{ annotation.consequentCosts }} {% if annotation.costtype %}{{ annotation.costtype }}{% endif %}</p>
            {% endif %}
        </div>

    </div>
    {% endif %}
</span>
{% include 'partials/_render_icons.html' %}
{% endblock %}{% block scripts %}
{% include 'partials/messages.html' %}
{% endblock %}