{% block main %}
<span hx-target="this" hx-swap="outerHTML" class="kostenverschil_display">
  <!-- normal text if not changed, striked text if changed costs -->
  {% if current_reply %}
  {% if current_reply.consequentCosts %}
    <!--striked here -->
    {% if last_reply.consequentCosts %}
    <p><b>
      <strike
        >€{{ last_reply.consequentCosts }} {% if last_reply.costtype %}{{ last_reply.costtype }}{% endif %}</strike>
    </b></p>
    {% elif annotation.consequentCosts %}
    <p><b><strike>€{{ annotation.consequentCosts }} {% if annotation.costtype %}{{ annotation.costtype }}{% endif %}</strike></b></p>
    {% else %}
    <p><b><strike>€ 0</strike></b></p>
    {% endif %}
  {% else %}
    <!-- unstriked here -->
    {% if last_reply.consequentCosts %}
    <p>
      <b
        >€{{ last_reply.consequentCosts }} {% if last_reply.costtype %}{{ last_reply.costtype }}{% endif %}</b
      >
    </p>
    {% elif annotation.consequentCosts %}
    <p><b>€{{ annotation.consequentCosts }} {% if annotation.costtype %}{{ annotation.costtype }}{% endif %}</b></p>
    {% else %}
    <p><b>€ 0</b></p>
    {% endif %}
  {% endif %}
  {% endif %}
  
  {% if current_reply %} {% if current_reply.accept is False %} {% if current_reply.consequentCosts %}
  <i class="feather-20" data-feather="arrow-right" style="stroke: #0085B7;"></i>
  <p style="color:#0085B7;">
  <b
    > €{{ current_reply.consequentCosts }} {% if current_reply.costtype %}{{ current_reply.costtype }}{% endif %}</b></p>
    <span
      ><a
        hx-get="{% url 'addkostenverschilpong' client_pk project_pk item_pk type %}"
      >
      <i class="feather-20" data-feather="edit-3" style="stroke: #0085B7"></i></a
    ></span>
    <span
      ><a
        hx-delete="{% url 'deletekostenverschilpong' client_pk project_pk item_pk type %}"
        >
          <i class="feather-20" data-feather="x" style="stroke: red;"></i></a></span
  ></b>
        </p>
  {% else %}
  {% if annotation.status or current_reply.status %}
  <p>
    <a
      hx-get="{% url 'addkostenverschilpong' client_pk project_pk item_pk type %}"
    >
    <i class="feather-20" data-feather="edit-3" style="stroke: #0085B7"></i>
    </a>
  </p>
  {% endif %}
  {% endif %} {% endif %} {% else %} {% if type == 0 %} {% if annotation.status or current_reply.status %}
  {% if cost_allowed is True %}
  <p>
    <a
      hx-get="{% url 'addkostenverschilpong' client_pk project_pk item_pk type %}"
    >
    <i class="feather-20" data-feather="edit-3" style="stroke: #0085B7"></i>
    </a>
  </p>
  {% endif %}
  {% endif %} {% endif %} {% endif %}
</span>
{% include 'partials/_render_icons.html' %}
{% endblock %}
