{% block main %}
<span hx-target="this" hx-swap="outerHTML">
{% if status_reply %}
    <div class="status_added" id="status-{{ item.id }}">
    <p>Status (laag {{ status_reply.commentphase.level }}): {{ status_reply.status }}
{% elif annotation.status %}
    <div class="status_added" id="status-{{ item.id }}">
    <p>Status: {{ annotation.status }}
{% else %}
    <div class="status_not_added" id="status-{{ item.id }}">
{% endif %}

{% if current_reply %}
{% if current_reply.accept is False %}
{% if current_reply.status %}
    <p>Uw voorgestelde status: {{ current_reply.status }}
    <span><button hx-get="{% url 'addstatuspong' client_pk project_pk item_pk type %}" class="ui basic icon button"><i class="icon edit"></i></button></span>
        <span><a hx-delete="{% url 'deletestatuspong' client_pk project_pk item_pk type %}"><button class="ui icon basic red button"><i class="icon delete"></i></button></a></span></p>
{% else %}
    <p><button hx-get="{% url 'addstatuspong' client_pk project_pk item_pk type %}" class="ui basic button"><i class="icon plus"></i>Statusverandering</button></p>
{% endif %}
{% endif %}
{% else %}
{% if type == 0 %}
    <p><button hx-get="{% url 'addstatuspong' client_pk project_pk item_pk type %}" class="ui basic button"><i class="icon plus"></i>Statusverandering</button></p>
{% endif %}
{% endif %}
</span>
{% endblock %}{% block scripts %}
{% include 'partials/messages.html' %}
{% endblock %}