{% block main %}
<span hx-target="this" hx-swap="outerHTML">
{% if annotation.status %}
    <div class="status_added" id="status-{{ item.id }}">
    <p>{{ annotation.status }}
    <span><a hx-get="{% url 'addstatusfirst' client_pk project_pk item_pk %}" hx-confirm="Let op: Verandering van status verwijderd uw opmerking/bijlagen.">
        <i class="feather-20" data-feather="edit-3" style="stroke: #0085B7"></i></a></span>
        <span><a hx-delete="{% url 'deletestatusfirst' client_pk project_pk item_pk %}" 
            hx-target="#item-{{ item_pk }}" hx-confirm="Weet u het zeker?" hx-swap="outerHTML">
                <i class="feather-20" data-feather="x" style="stroke: red;"></i></a></span></p>
{% else %}
<span><p><i>Geen status</i></p></span>
    <div class="status_not_added" id="status-{{ item.id }}">
    <a hx-get="{% url 'addstatusfirst' client_pk project_pk item_pk %}" style="margin-left: 0.2em;">
        <i class="feather-20" data-feather="edit-3" style="stroke: #0085B7"></i></a>
{% endif %}
</span>
{% include 'partials/_render_icons.html' %}
{% endblock %}{% block scripts %}
{% include 'partials/messages.html' %}
{% endblock %}