{% block main %}
<span hx-target="this" hx-swap="outerHTML">
{% if annotation.kostenConsequenties %}
    <b>€{{ annotation.kostenConsequenties }}
    <span><button hx-get="{% url 'addkostenverschilfirst' client_pk project_pk item_pk %}" class="ui basic icon button"><i class="icon edit"></i></button></span>
    <span><a hx-delete="{% url 'deletekostenverschilfirst' client_pk project_pk item_pk %}"><button class="ui icon basic red button"><i class="icon delete"></i></button></a></span></b>
{% else %}
{% if annotation.status %}
    <button hx-get="{% url 'addkostenverschilfirst' client_pk project_pk item_pk %}" class="ui basic icon button"><i class="icon edit"></i></button>
{% endif %}
{% endif %}
</span>
{% endblock %}{% block scripts %}
{% include 'partials/messages.html' %}
{% endblock %}