{% block main %}
<span>
    {% if current_reply.accept %}
    <button
      class="ui green button d-inline disabled"
      type="button"
    >
      Geaccepteerd
    </button>
    {% else %}
    <button
      class="ui red button d-inline disabled"
      type="button"
    >
      Afgewezen
    </button>
    {% endif %}
<button
  hx-get="{% url 'redocommentpong' client_pk project_pk item_pk type %}"
  hx-trigger="click"
  style="float: right"
  class="ui basic icon button"
>
  <i class="icon undo alternate"></i>
</button>
</span>
{% endblock %}
