{% block main %}
<span>
  <div class="accept_buttons_pong">
    {% if current_reply.accept %}
    <button
    class="ui green button icon disabled"
    type="button"
  >
    <i class="icon check"></i>
    </button>
    {% else %}
    <button
    class="ui red button icon disabled"
    type="button"
  >
  <i class="icon times"></i>
    </button>
    {% endif %}
<button
  hx-get="{% url 'redocommentpong' client_pk project_pk item_pk type %}"
  hx-trigger="click"
  style="float: right"
  class="ui basic icon button"
>
<i data-feather="rotate-ccw" style="stroke: #0085B7"></i>
</button>
</div>
</span>
{% include 'partials/_render_icons.html' %}
{% endblock %}
