{% extends "_partial.html" %}


{% block main %}
    <form hx-target="this" hx-swap="outerHTML" class="ui form" method="POST" enctype="multipart/form-data" class="midwidth_form"> 
    {% csrf_token %}
        <div>
            <p><label for="{{ form.kostenverschil.id_for_label }}"><b>Kosten:</b></label><p>
                <p class="first_annotate_formbox">{{ form.kostenverschil }}</p>
                <p class="first_annotate_formbox">{{ form.costtype }}</p>
                <a hx-get="{% url 'detailfirstkostenverschil' client_pk project_pk item_pk %}" 
                hx-trigger="click, keyup[key=='Escape'] from:input" style="float: left;">
                <i class="feather-20" data-feather="x" style="stroke: #0085B7"></i></a>
        <span style="float:right;"><a hx-post="{% url 'addkostenverschilfirst' client_pk project_pk item_pk %}" 
            hx-trigger="click, keyup[key=='Enter'] from:input" type="submit">
            <i class="feather-20" data-feather="check" style="stroke: #0085B7"></i></a>
        </p>
        </span>
        </div>
    </form>
    {% include 'partials/_render_icons.html' %}
{% endblock %}

{% block scripts %}

<script type="text/javascript">
    var selectobject = document.getElementById("id_costtype");
    for (var i=0; i<selectobject.length; i++) {
        if (!selectobject.options[i].value)
            selectobject.remove(i);
    }
    
</script>

{% endblock %}