{% extends "_partial.html" %}


{% block main %}
    <form hx-target="this" hx-swap="outerHTML" class="ui form" method="POST" hx-encoding='multipart/form-data' enctype="multipart/form-data">
    {% csrf_token %}
        <div>
        <p><label for="{{ form.attachment.id_for_label }}"><b>Upload bijlage:</b></label><p>
        <p class="first_annotate_formbox">{{ form.attachment }}</p>
        <p><label for="{{ form.name.id_for_label }}"><b>Bijlagenaam (optioneel):</b></label><p>
        <p class="first_annotate_formbox">{{ form.name }}</p>
        <p class="first_annotate_formbox" hidden>{{ form.ann }}</p>
        </div>
        <button hx-get="{% url 'detailfirstannotation' client_pk project_pk item_pk %}" hx-trigger="click" style="float: left;" class="ui basic icon button"><i data-feather="corner-down-left" style="stroke: #0085B7"></i></button>
        <span style="float:right;"><button hx-post="{% url 'addattachmentfirst' client_pk project_pk item_pk annotation_pk attachment_id %}" hx-trigger="click" type="submit" class="ui icon basic button"><i data-feather="check" style="stroke: #0085B7"></i></button>
        </span>
    </form>
    {% include 'partials/_render_icons.html' %}
{% endblock %}

{% block scripts %}
{% include "partials/messages.html" %}
{% endblock %}