{% extends '_partial.html' %}

{% load semanticui %}
{% load static %}
{% load custom_tags %}
{% load cache %}
{% block main %}

<p style="font-style:italic;">
{{ item.inhoud }}
<span><p>
{% if annotation.annotation %}
    <b>{% if annotation.gebruiker.organisatie %}{{ annotation.gebruiker.organisatie }}{% else %}{{ reply.gebruiker.klantenorganisatie }}{% endif %}: </b> {{ annotation.annotation }}
{% endif %}

{% if annotationbijlagen %}
<span><b>Bijlage(n):</b>
{% for bijlage in annotationbijlagen %}
{% if bijlage.bijlage %}
<a href="{% url 'downloadbijlageaanopmerking_syn' client_pk project_pk annotation.id bijlage.id %}" target="_blank">{{ bijlage }}<img class="dimg" style="align-self: right; max-height: 1.5vh;" src="{% static 'pvetool/img/download.png' %}"></img></a>
{% endif %}
{% endfor %}
</span>
{% endif %}
</p></span>
{% for reply in replies %}
{% if reply.comment %}
<span><p><b>{% if reply.gebruiker.organisatie %}{{ reply.gebruiker.organisatie }}{% else %}{{ reply.gebruiker.klantenorganisatie }}{% endif %} (laag {{ reply.commentphase.level }}):</b> {{ reply.comment }}. </p></span>
{% endif %}
{% if bijlagen.reply %} 
<span>
<p><b>Bijlage(n) (laag {{ reply.commentphase.level }}):</b>
{% for bijlage in bijlagen.reply %}
<a href="{% url 'downloadreplyattachment_syn' client_pk project_pk bijlage.reply.id bijlage.id %}" target="_blank">
{{ bijlage }}<img class="dimg" style="align-self: right; max-height: 1.5vh;" src="{% static 'pvetool/img/download.png' %}"></img>
</a>
{% endfor %}
{% if reply.status %}
<i> Status veranderd: {{ reply.status }}</i>
{% endif %}
</p></span>
{% endif %}

{% endfor %}

{% endblock %}