{% extends "_partial.html" %}

{% block main %}

<div hx-target="this" hx-swap="outerHTML">
    <p>
{% if stakeholder.users.all %}
    {% for user in stakeholder.users.all %}
        {{ user }} {% if user.email %}({{ user.email }}) {% endif %}
        <a hx-post="{% url 'userremovefromorganisatie' client_pk stakeholder.id user.id %}" hx-confirm="Weet u het zeker?" 
        hx-target="closest span" hx-swap="outerHTML"><i class="icon times"></i></a>, 
    {% endfor %}
{% endif %}
<span><a hx-get="{% url 'addusersorganisatie' client_pk stakeholder.id %}"><i class="feather-20" data-feather="plus" style="stroke: #0085B7"></i></span></p>
</div>
{% include 'partials/_render_icons.html' %}

{% endblock %}

