{% extends '_partial.html' %}
{% load semanticui %}
{% load static %}
{% load custom_tags %}
{% load cache %}

{% block main %}
{% for paragraph in paragraphs %}
    <button type="button" hx-get="{% url 'getitemspingpong' client_pk project.id paragraph.chapter.id paragraph.id type accept %}" hx-target="#paragraaf_content-{{ type }}-{{ paragraph.chapter.id }}-{{ paragraph.id }}" hx-swap="innerHTML" hx-trigger="click once" class="paragraph"><p>{{ paragraph.paragraph }} <img class="arrow-down" src="{% static 'pvetool/svg/ArrowDown.svg' %}"></img><img class="arrow-up" src="{% static 'pvetool/svg/ArrowUp.svg' %}"></img></p></button>
    <div class="paragraaf_content" id="paragraaf_content-{{ type }}-{{ paragraph.chapter.id }}-{{ paragraph.id }}">
    </div>
{% endfor %}
{% endblock %}

{% block scripts %}
<script>
var coll2 = document.getElementsByClassName("paragraph");
var i;

for (i = 0; i < coll2.length; i++) {
  coll2[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

$('.leavecomment').click(function(e){
      e.preventDefault();
      $(this).next().show();
});

</script>
{% endblock %}
