{% extends "_partial.html" %}


{% block main %}

<div hx-target="this" hx-swap="outerHTML" style="display: flex; justify-content: center; align-items: center;">
{% if project.organisaties.all %}
    {% for stakeholder in project.organisaties.all %}
    <p style="background-color: lightgrey;
    border-radius: 4px;
    padding: 0.15em;
    margin: 0.15em;">{{ stakeholder }}</p>
{% endfor %}
    {% endif %}</p>
<button style="margin-left: 0.5em;" hx-get="{% url 'projectaddpartijform' client_pk project.id %}" class="ui icon basic button"><i class="feather-20" data-feather="plus" style="stroke: #0085B7"></i></button>
</div>
{% include 'partials/_render_icons.html' %}

{% endblock %}
