{% extends "_partial.html" %}


{% block main %}
    <form hx-target="this" hx-swap="outerHTML" class="ui form" method="POST" enctype="multipart/form-data">
        <a hx-get="{% url 'getprojectpartijen' client_pk project.id %}" hx-trigger="click, keyup[key=='Escape'] from:select"><i class="feather-20" data-feather="x" style="stroke: #0085B7"></i></a>
        <div style="display:flex; flex-direction:column;">
    {% csrf_token %}
        {{ form }}
        <button hx-post="{% url 'projectaddpartijform' client_pk project.id %}" hx-trigger="click, change from:select" type="submit" class="ui icon basic button"><i class="feather-20" data-feather="check" style="stroke: #0085B7"></i></button>
        </div>
    </form>  
    {% include 'partials/_render_icons.html' %}

    <script>
        $(document).ready(function(){        
                $('option[value=""]').html("Kies stakeholder...")
        });
        </script>
{% endblock %}

