{% extends "layout.html" %} {% load semanticui %} {% block main %}
<h1 class="ui header center aligned">Gebruikers</h1>
<button
  class="ui primary button d-inline"
  hx-get="{% url 'dashboard' %}" hx-target="body" hx-swap="innerHTML"
  >< Dashboard</button>
<div class="d-inline" style="float: right;">
<span class="float right"><a href="{% url 'acccreate' %}"><button class="ui icon green button"><i class="icon plus"></i></button></a></span>
</div>
<br><br>
{% if users %}
<div>
	<table class="ui fixed multiple line blue table">
		<thead>
			<tr>
				<th>
					Gebruikersnaam
				</th>
				<th>
					Rang
				</th>
			</tr>
		</thead>
		<tbody>
				{% for user in users %}
				<tr>
                    <td> 
					<a href="{% url 'accprofile' user.id %}">{{ user.username }}</a> &nbsp; 
                    </td>
                    <td> 
                        {% if user.type_user == 'SD' %}
                            pvetool Derde
                        {% elif user.type_user == 'SOG' %}
                            pvetool Projectmanager
                        {% elif user.type_user == 'SB' %}
                            pvetool Beheerder
						{% else %}
							Beheerder
                        {% endif %}
                    </td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
{% else %}
<p>Nog geen gebruikers (?)</p>
{% endif %}
{% block modal %}{% endblock %} 
{% endblock %}