{% extends "layout.html" %} {% load semanticui %} {% block main %}
<button
  class="ui primary button d-inline"
  hx-get="{% url 'dashboard' %}" hx-target="body" hx-swap="innerHTML"
  >< Dashboard</button>
<h1 class="ui header center aligned">Actieve PvE versies</h1>
{% if actieve_versies %}
<br><br>
<div>
	<table class="ui fixed multiple line blue table">
		<thead>
			<tr>
				<th>
          Belegger			
			</th>
				<th>
          Actieve Versie			
			</th>
			</tr>
		</thead>
		<tbody>
				{% for item in actieve_versies %}
				<tr>
				<td> 
					{{ item.client.name }}
                </td>
                <td>
                    Versie {{ item.version.version }}
					<div class="d-inline" style="float: right;">
						<a href="{% url 'actieveversiesedit' item.id %}"><button class="ui icon basic button"><i class="icon edit"></i></button></a>										
					</div>
				</td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
{% else %}
<p>Nog geen PvE versies!</p>
{% endif %}
{% block modal %}{% endblock %} 
{% endblock %}