{% extends "layout.html" %}

{% load semanticui %}

{% load filename %}

{% block main %}

<h1 class="ui header">Admin Dashboard</h1>
<i>{{ greeting }}, {{ request.user.username }}.</i>
<div class="ui divider"></div>
<div>
<h2 class="ui header">Klantbeheer</h2>
	<a href="{% url 'klanttoevoegen' %}"><button class="ui basic button"><i class="icon plus"></i>Klant Toevoegen</button></a>
	<a href="{% url 'klantoverzicht' %}"><button class="ui basic button"><i class="icon edit"></i>Klanten Overzicht</button></a>
<div class="ui divider"></div>

<h2 class="ui header">Programma van Eisen</h2>
	<a href="{% url 'beleggerversieoverview' %}"><button class="ui basic button"><i class="icon edit"></i>Bewerk PvE's</button></a>
	<a href="{% url 'actieveversies' %}"><button class="ui basic button"><i class="icon edit"></i>Actieve PvE versie's</button></a>
<div class="ui divider"></div>
<h2 class="ui header">Projecten</h2>
	<a href="{% url 'allprojects' %}"><button class="ui basic button"><i class="icon edit"></i>Projecten overview</button></a><br><br>
<div class="ui divider"></div>

<h2 class="ui header">Analyse</h2>
	<a href="{% url 'projectheatmap' %}"><button class="ui basic button"><i class="icon edit"></i>Project Heatmap</button></a><br><br>
<div class="ui divider"></div>

<!-- Manually generate pve -->
<!-- Edit PvE workbook and keuzeparameters -->
<!-- account configurations (view, add account, delete account etc) -->
<!-- project configurations (list all, delete, add, edit etc) -->
<!-- Future: analytics dashboard -->
</div>

{% endblock %}
