{% extends "layout.html" %} {% load semanticui %} {% block main %}
<div class="ui big breadcrumb">
  <a class="section" href="{% url 'pvebewerkoverview' version_pk %}">Overview {{ version.client }}: {{ version.version }}</a>
  <i class="right chevron icon divider"></i>
  <a class="active section">Bijlagen</a>
</div>
<br><br>
{% if attachments %}
<div class="d-inline" style="float: left;">
	<a href="#"><button class="ui icon basic button"><i class="icon edit"></i></button></a>
</div>
<div class="d-inline" style="float: right;">
	<span><a href="#"><button class="ui icon basic red button"><i data-feather="x" style="stroke: red;"></i></button></a></span>
</div>
<br><br>

<div>
	<table class="ui fixed blue table" style="overflow:hidden;">
		<thead>
			<tr>
				<th>
					Bijlage
				</th>
        <th><div class="d-inline" style="float: right;">
					<span class="float right"><a href="{% url 'addattachment' version_pk %}"><button class="ui icon green button"><i class="icon plus"></i></button></a></span>
        					</div></th>
			</tr>
		</thead>
		<tbody>
      {% for item in attachments %}
			<tr>
				<td>{% if item.name %}{{ item.name|linebreaks }}{% else %}{{ item.attachment|linebreaks }}{% endif %}</td>
        <td>
					<div class="d-inline" style="float: right;">
						<input class="ui primary button d-inline" onclick="window.location.href='{% url 'attachmentdetail' version_pk item.id %}';" type="button" value="Bekijk">									
				</td>
			</tr>
      {% endfor %}
		</tbody>
	</table>
</div>{% else %}
<p>Geen attachments in dit PvE! <input class="ui primary button d-inline" onclick="window.location.href='{% url 'addattachment' version_pk %}';" type="button" value="Voeg er een toe"></p>{% endif %}

{% block modal %}{% endblock %}

<script>feather.replace()</script>
{% endblock %}