{% extends "layout.html" %} {% load custom_tags %}
{% load i18n %} {% load semanticui %} {% block main %}
{% language 'nl' %}
<input type="button" class="ui primary button d-inline" onclick="javascript:window.location='{% url 'pvebewerkoverview' version_pk %}'" value="< Overview: {{ version.client }}: {{ version.version }}" />
<h1 class="ui header center aligned">Bewerk opmerkingstoestemmingen</h1>
<div>
	{% if qs %}
	<table class="ui fixed multiple line blue table">
		<thead>
			<tr>
				<th>
          			Status
				</th>
				<th>
          			Opmerkingen toegestaan
				</th>
				<th>
					Opmerkingen verplicht
				</th>
				<th>
					Bijlagen toegestaan
				</th>
				<th>
          			Bijlagen verplicht
				</th>
				<th>
          			Kosten toegestaan
				</th>
				<th>
          			Kosten verplicht
				</th>
			</tr>

		</thead>
		<tbody>
			{% for key in status_dict.keys %}
				<tr>
					<td>
					<p>{{ key }}</p>
					</td>
					{% with dict=status_dict|get_item:key %}
					{% for key_two, value in dict.items %}
					<td>
						{% with version_pk=version.id %}
						{% with status_str=key %}
						{% with type=forloop.counter %}
						{% with active=value %}
						{% include 'partials/detailCommentReqButton.html' %}
						{% endwith %} {% endwith %} {% endwith %} {% endwith %} 
					</td>
					{% endfor %} 
					{% endwith %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>Opmerkingstoestemmingen bestaan niet, neem contact op met de systeembeheerder.</p>
	{% endif %}
</div>
<script>feather.replace()</script>
{% endlanguage %}
{% endblock %}