{% extends "layout.html" %} {% load semanticui %} {% block main %}
<input
  type="button"
  class="ui primary button d-inline"
  onclick="javascript:window.location='{% url 'pvebewerkoverview' versie_pk %}'"
  value="< PvE Overview"
/>
<h1 class="ui header center aligned">Bewerk Keuzematrix</h1>
{% if bouwsoorten %}
<br /><br />
<div>
  <table class="ui fixed multiple line blue table">
    <thead>
      <tr>
        <th>
          Bouwsoorten
          <div class="d-inline" style="float: right">
            <span class="float right"
              ><a href="{% url 'addkiesparameter' versie_pk 1 %}"
                ><button class="ui icon green button">
                  <i class="icon plus"></i></button></a
            ></span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for parameter in bouwsoorten %}
      <tr hx-target="this" hx-swap="outerHTML">
        <td>
          <div class="d-inline" style="float: left">
				  <span hx-get="{% url 'kiesparameterdetail' versie_pk 1 parameter.id %}" hx-target="this" hx-swap="innerHTML" hx-trigger="load"></span></div>
          <div class="d-inline" style="float: right">
            <span><button hx-post="{% url 'kiesparameterdelete' versie_pk 1 parameter.id %}"
            hx-confirm="Weet je het zeker?"
            class="ui icon basic red button"><i class="icon trash alternate outline"></i></button></span>

          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>
    Nog geen bouwsoorten!
    <span class="float right"
      ><a href="{% url 'addkiesparameter' versie_pk 1 %}"
        ><button class="ui icon green button">
          <i class="icon plus"></i></button></a
    ></span>
  </p>
  {% endif %} {% if typeObjecten %}
  <div>
    <table class="ui fixed multiple line blue table">
      <thead>
        <tr>
          <th>
            Type Objecten
            <div class="d-inline" style="float: right">
              <span class="float right"
                ><a href="{% url 'addkiesparameter' versie_pk 2 %}"
                  ><button class="ui icon green button">
                    <i class="icon plus"></i></button></a
              ></span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for parameter in typeObjecten %}
        <tr hx-target="this" hx-swap="outerHTML">
          <td>
          <div class="d-inline" style="float: left">
				  <span hx-get="{% url 'kiesparameterdetail' versie_pk 2 parameter.id %}" hx-target="this" hx-swap="innerHTML" hx-trigger="load"></span></div>
          <div class="d-inline" style="float: right">
          <span><button hx-post="{% url 'kiesparameterdelete' versie_pk 2 parameter.id %}"
          hx-confirm="Weet je het zeker?"
          class="ui icon basic red button"><i class="icon trash alternate outline"></i></button></span>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>
      Nog geen type objecten!
      <span class="float right"
        ><a href="{% url 'addkiesparameter' versie_pk 2 %}"
          ><button class="ui icon green button">
            <i class="icon plus"></i></button></a
      ></span>
    </p>
    {% endif %} {% if doelgroepen %}
    <div>
      <table class="ui fixed multiple line blue table">
        <thead>
          <tr>
            <th>
              Doelgroepen
              <div class="d-inline" style="float: right">
                <span class="float right"
                  ><a href="{% url 'addkiesparameter' versie_pk 3 %}"
                    ><button class="ui icon green button">
                      <i class="icon plus"></i></button></a
                ></span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for parameter in doelgroepen %}
          <tr hx-target="this" hx-swap="outerHTML">
            <td>
          <div class="d-inline" style="float: left">
				  <span hx-get="{% url 'kiesparameterdetail' versie_pk 3 parameter.id %}" hx-target="this" hx-swap="innerHTML" hx-trigger="load"></span></div>
          <div class="d-inline" style="float: right">
          <span><button hx-post="{% url 'kiesparameterdelete' versie_pk 3 parameter.id %}"
          hx-confirm="Weet je het zeker?"
          class="ui icon basic red button"><i class="icon trash alternate outline"></i></button></span>

              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>
        Nog geen doelgroepen!
        <span class="float right"
          ><a href="{% url 'addkiesparameter' versie_pk 3 %}"
            ><button class="ui icon green button">
              <i class="icon plus"></i></button></a
        ></span>
      </p>
      {% endif %} {% block modal %}{% endblock %} {% endblock %}
    </div>
  </div>
</div>
