{% extends "_baselayout.html" %} {% load i18n %} {% load semanticui %} {% block main %}
{% language 'nl' %}
<div class="ui big breadcrumb">
  <a class="section" hx-get="{% url 'dashboard' %}" hx-target="body" hx-swap="innerHTML">Dashboard</a>
  <i class="right chevron icon divider"></i>
  <a class="active section">Klanten</a>
</div>
<br><br>
{% if klanten %}
        <div class="d-inline" style="float: right;">
					<span class="float right"><a hx-get="{% url 'klanttoevoegen' %}" hx-target="#main" hx-swap="innerHTML"><button class="ui icon green button"><i class="icon plus"></i>Klant Toevoegen</button></a></span>
        					</div><br><br>
<div>
	<table class="ui fixed blue table" style="overflow:hidden;">
		<thead>
			<tr>
				<th>
					Klant
				</th>
				<th>
					Abonnement
				</th>
				<th>
					Beheerder
				</th>
				<th>
					Logo
				</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
      {% for klant in klanten %}
			<tr hx-target="this" hx-swap="outerHTML">
				<td>{{ klant.naam }}</td>
				<td>{{ klant.abbonement }}</td>
				<td hx-get="{% url 'getbeheerderklant' klant.id %}" hx-target="this" hx-swap="innerHTML" hx-trigger="load"></td>
				<td hx-get="{% url 'logoklantdetail' klant.id %}" hx-target="this" hx-swap="innerHTML" hx-trigger="load"></td>
				<td><button class="ui icon basic red button"
				hx-post="{% url 'klantverwijderen' klant.id %}"
                    hx-prompt="Vul 'VERWIJDEREN' in om klant {{ klant.naam }} te verwijderen."
					hx-target="closest tr"><i class="icon trash"></i></button></td>
			</tr>
      {% endfor %}
		</tbody>
	</table>
</div>

{% else %}
<p>Geen klanten! <input class="ui primary button d-inline" onclick="window.location.href='{% url 'klanttoevoegen' %}';" type="button" value="Voeg er een toe"></p>{% endif %}
{% endlanguage %}
{% block modal %}{% endblock %}

{% endblock %}