{% extends "layout.html" %} {% load semanticui %} {% block main %}
<div class="ui big breadcrumb">
  <a class="section" href="{% url 'dashboard' %}">Dashboard</a>
  <i class="right chevron icon divider"></i>
  <a class="active section">Klanten</a>
</div>
<br><br>
{% if klanten %}
        <div class="d-inline" style="float: right;">
					<span class="float right"><a href="{% url 'klanttoevoegen' %}"><button class="ui icon green button"><i class="icon plus"></i>Klant Toevoegen</button></a></span>
        					</div><br><br>
<div>
	<table class="ui fixed blue table" style="overflow:hidden;">
		<thead>
			<tr>
				<th>
					Klant
				</th>
				<th>
					Abbonement
				</th>
				<th>
					Beheerder
				</th>
				<th>
					Logo
				</th>
			</tr>
		</thead>
		<tbody>
      {% for klant in klanten %}
			<tr>
				<td>{{ klant.naam }}</td>
				<td>{{ klant.abbonement }}</td>
				<td hx-get="{% url 'getbeheerderklant' klant.id %}" hx-trigger="load"></td>
				<td hx-get="{% url 'logoklantdetail' klant.id %}" hx-trigger="load"></td>
			</tr>
      {% endfor %}
		</tbody>
	</table>
</div>

{% else %}
<p>Geen klanten! <input class="ui primary button d-inline" onclick="window.location.href='{% url 'klanttoevoegen' %}';" type="button" value="Voeg er een toe"></p>{% endif %}

{% block modal %}{% endblock %}

{% endblock %}