<!DOCTYPE html>

<html lang="nl">
  <head>
    <title>PvE Tool - Beheer</title>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    {% load static %}
    {% load leaflet_tags %}
    {{ form.media }}
    <link rel="shortcut icon" type="image/png" href="{% static 'beheer/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'beheer/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'beheer/main_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Semantic-UI-Alert.css' %}">
    {% leaflet_css %}
    {% leaflet_js %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="{% static 'pvetool/feather.min.js' %}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>

    <div style="height: 100%;">
      {% include '_menu.html' %}
      <div id="main">
        {% block main %}{% endblock %}
      </div>
      <div id="pageloader" class="ui inverted dimmer" style="z-index: 10;">
        <div class="ui text loader">Laden</div>
      </div>
    </div>

    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <script src="https://unpkg.com/hyperscript.org@0.8.2"></script>
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'semantic.min.js' %}"></script>
    <script src="{% static 'beheer/scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'Semantic-UI-Alert.js' %}"></script>
    {% include "partials/messages_beheer.html" %}
    {% include "partials/_CSRFToken.html" %}
    {% include "partials/_LoadingSpinner.html" %}
    {% include "partials/_FeatherIcons.html" %}
    {% block scripts %}{% endblock %}
  </body>
</html>
