{% extends "layout.html" %}

{% load semanticui %}

{% load filename %}

{% block main %}
<button class="ui primary button d-inline" hx-get="{% url 'clientversieoverview' %}" hx-target="#main" hx-swap="innerHTML">< Versie Overview</button>
<h1 class="ui header">PvE van {{ pve_versie.client.name }}; Versie {{ pve_versie.version }}</h1>
<div class="ui divider"></div>
<div>
<h2 class="ui header">Programma van Eisen</h2>
	<a href="{% url 'generate' client_pk pve_versie.id %}"><button class="ui basic button"><i class="icon download"></i>Genereer voorbeeld PvE</button></a><br><br>
	<a href="{% url 'compare' pve_versie.id %}"><button class="ui basic button"><i class="icon download"></i>Genereer afwijkingenlijst</button></a><br><br>
	<a href="{% url 'chapterview' pve_versie.id %}"><button class="ui basic button"><i class="icon edit"></i>Bewerk Programma van Eisen</button></a><br><br>
	<a href="{% url 'parameterchoicesview' pve_versie.id %}"><button class="ui basic button"><i class="icon edit"></i>Bewerk Keuzematrix</button></a>
	<a href="{% url 'attachmentview' pve_versie.id %}"><button class="ui basic button"><i class="icon edit"></i>Bewerk Bijlagen</button></a>
<div class="ui divider"></div>
<!-- Manually generate pve -->
<!-- Edit PvE workbook and keuzeparameters -->
<!-- account configurations (view, add account, delete account etc) -->
<!-- project configurations (list all, delete, add, edit etc) -->
<!-- Future: analytics dashboard -->
</div>

{% endblock %}
