{% extends "layout.html" %} {% load semanticui %} {% block main %}
<input type="button" class="ui primary button d-inline" onclick="javascript:window.location='{% url 'pvebewerkoverview' versie_pk %}'" value="< Overview: {{ versie.belegger }}: {{ versie.versie }}" />
<h1 class="ui header center aligned">Bewerk Programma van Eisen</h1>
{% if hoofdstukken %}
<div class="d-inline" style="float: left;">
	<a href="{% url 'worksheetdownload' versie_pk %}"><button class="ui basic button"><i class="icon file excel outline"></i>Excel</button></a>
</div>
<br><br>
<div>
	<table class="ui fixed multiple line blue table">
		<thead>
			<tr>
				<th>
          Hoofdstukken
					<div class="d-inline" style="float: right;">
						<span class="float right"><a href="{% url 'addchapter' versie_pk %}"><button class="ui icon green button"><i class="icon plus"></i></button></a></span>
					</div>				
			</th>
			</tr>
		</thead>
		<tbody>
				{% for item in hoofdstukken %}
				<tr>
				<td> 
					<a href="{% url 'viewParagraaf' versie_pk item.id %}">{{ item.hoofdstuk }}</a> &nbsp; 
					<div class="d-inline" style="float: right;">
						<input class="ui primary button d-inline" onclick="window.location.href='{% url 'viewParagraaf' versie_pk item.id %}';" type="button" value="Open">
						<a href="{% url 'editchapter' versie_pk item.id %}"><button class="ui icon basic button"><i class="icon edit"></i></button></a>
						<span><a href="{% url 'deletechapter' versie_pk item.id %}"><button class="ui icon basic red button"><i class="icon trash alternate outline"></i></button></a></span>
					</div>
				</td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
{% else %}
<p>Nog geen hoofdstukken!</p>
<div class="d-inline" style="float: left;">
	<span class="float right"><a href="{% url 'addchapter' versie_pk %}"><button class="ui green button"><i class="icon plus"></i>Voeg hoofdstuk toe</button></a></span>
					</div>
{% endif %}
{% block modal %}{% endblock %} 
{% endblock %}