{% extends "layout.html" %} {% load semanticui %} {% block main %}
<div class="ui big breadcrumb">
  <a class="section" href="{% url 'chapterview' version_pk %}">PvE {{ version.client }}: {{ version.version }}</a>
  <i class="right chevron icon divider"></i>
  <a class="active section">{{ sectie }}</a>
</div>
<br><br>
{% if paragraphs %}
<div>
	<table class="ui fixed multiple line blue table">
		<thead>
			<tr>
				<th>
          Paragraven
					<div class="d-inline" style="float: right;">
						<span class="float right"><a href="{% url 'addparagraph' version_pk sectie.id %}"><button class="ui icon green button"><i class="icon plus"></i></button></a></span>
					</div>				
			</th>
			</tr>
		</thead>
		<tbody>
				{% for item in paragraphs %}
				<tr>
				<td> 
					<a href="{% url 'itemlistview' version_pk item.chapter.id item.id %}">{{ item.paragraph }}</a> &nbsp; 
					<div class="d-inline" style="float: right;">
						<input class="ui primary button d-inline" onclick="window.location.href='{% url 'itemlistview' version_pk item.chapter.id item.id %}';" type="button" value="Open">
						<a href="{% url 'editparagraph' version_pk item.id %}"><button class="ui basic icon button"><i class="icon edit"></i></button></a>
						<span><a href="{% url 'deleteparagraph' version_pk item.id %}"><button class="ui icon basic red button"><i class="icon trash alternate outline"></i></button></a></span>

					</div>
				</td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
{% else %}
<p>Nog geen paragraphs of items!</p>
<div class="d-inline" style="float: left;">
	<span class="float right"><a href="{% url 'addparagraph' version_pk sectie.id %}"><button class="ui green button"><i class="icon plus"></i>Voeg paragraph toe</button></a></span>
					</div>
          <div class="d-inline" style="float: left;">
          	<span class="float right"><a href="{% url 'additem' version_pk sectie.id 0 %}"><button class="ui green button"><i class="icon plus"></i>Voeg item toe</button></a></span>
          					</div>
{% endif %}
{% block modal %}{% endblock %} 
{% endblock %}