{% extends "layout.html" %} {% load semanticui %} {% block main %}
<div class="ui big breadcrumb">
  <a class="section" href="{% url 'hoofdstukview' versie_pk %}">PvE {{ versie.belegger }}: {{ versie.versie }}</a>
  <i class="right chevron icon divider"></i>
  <a class="active section">{{ sectie }}</a>
</div>
<br><br>
{% if paragraven %}
<div>
	<table class="ui fixed multiple line blue table">
		<thead>
			<tr>
				<th>
          Paragraven
					<div class="d-inline" style="float: right;">
						<span class="float right"><a href="{% url 'addparagraph' versie_pk sectie.id %}"><button class="ui icon green button"><i class="icon plus"></i></button></a></span>
					</div>				
			</th>
			</tr>
		</thead>
		<tbody>
				{% for item in paragraven %}
				<tr>
				<td> 
					<a href="{% url 'itemlistview' versie_pk item.hoofdstuk.id item.id %}">{{ item.paragraaf }}</a> &nbsp; 
					<div class="d-inline" style="float: right;">
						<input class="ui primary button d-inline" onclick="window.location.href='{% url 'itemlistview' versie_pk item.hoofdstuk.id item.id %}';" type="button" value="Open">
						<a href="{% url 'editparagraph' versie_pk item.id %}"><button class="ui basic icon button"><i class="icon edit"></i></button></a>
						<span><a href="{% url 'deleteparagraph' versie_pk item.id %}"><button class="ui icon basic red button"><i class="icon trash alternate outline"></i></button></a></span>

					</div>
				</td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
{% else %}
<p>Nog geen paragraven of items!</p>
<div class="d-inline" style="float: left;">
	<span class="float right"><a href="{% url 'addparagraph' versie_pk sectie.id %}"><button class="ui green button"><i class="icon plus"></i>Voeg paragraaf toe</button></a></span>
					</div>
          <div class="d-inline" style="float: left;">
          	<span class="float right"><a href="{% url 'additem' versie_pk sectie.id 0 %}"><button class="ui green button"><i class="icon plus"></i>Voeg item toe</button></a></span>
          					</div>
{% endif %}
{% block modal %}{% endblock %} 
{% endblock %}